[2021-06-13 23:42] awsitcloudpro opened #4 "Support Terraform v0.15.0 / v1.0.0"
This repo is currently using Terraform (TF) v0.14.x or lower. It would be nice to use the latest TF version. I ran into a few issues when trying to do that - the terraform apply command errors out. I found that use of Terraform v0.15.0+ requires the following changes:
* Replace TF function map() by [tomap()](https://www.terraform.io/docs/language/functions/map.html).
* Update EKS module vesion to

[2021-06-19 16:48] vara-bonthu opened #6 "Support for Agones Kubernetes controller for gaming servers"
Agones is an Open source Kubernetes Controller with custom resource definitions and is used to create, run, manage and scale dedicated game server processes within Kubernetes clusters using standard Kubernetes tooling and APIs.
This model also allows any matchmaker to interact directly with Agones via the Kubernetes API to provision a dedicated game server.

Add Agones Helm Chart to this module al

[2021-06-23 13:37] #6 closed

[2021-06-23 13:37] vara-bonthu commented on #6
Agones module is merged with the main branch now 👍🏼

[2021-07-01 11:03] vara-bonthu opened #8 "NGINIX Ingress Controller feature"
Provide a feature to deploy NGINIX Ingress controller with an example and a README

https://kubernetes.github.io/ingress-nginx/

[2021-07-11 11:42] vara-bonthu commented on #4
#9 Added new release

[2021-07-11 11:42] #4 closed

[2021-07-11 19:30] jomcy-amzn opened #10 "Update helm chart to version 0.1.11 for aws-for-fluent-bit"
Update helm chart  to version 0.1.11 for aws-for-fluent-bit

[2021-07-11 20:33] jomcy-amzn commented on #10
Merged  PR #11

[2021-07-11 20:34] jomcy-amzn commented on #10
Merged PR #11

[2021-07-11 21:25] jomcy-amzn commented on #10
New Pull request shall be raised from Forked repo

[2021-07-11 22:12] jomcy-amzn commented on #10
PR#12 Merged to main

[2021-07-11 22:12] #10 closed

[2021-07-13 13:08] #8 closed

[2021-07-23 17:30] sharepointoscar opened #15 "Feature: Multi-tenant (Ingress per tenant)"
Since the awesome accelerator already supports multi-tenant scenarios, it would be great to also allow a tenant to have a dedicated ingress, like NGNIX.

The controller would include the corresponding cert, DNS etc.

**Example**
Finance namespaces can have one Ingress Controller and Marketing division can have their own Ingress Controller.

This would also translate into cost savings on our implem

[2021-07-29 03:38] jomcy-amzn opened #16 "Add kube-state-metrics helm chart"
helm repo add bitnami https://charts.bitnami.com/bitnami
    https://github.com/bitnami/bitnami-docker-kube-state-metrics
    https://artifacthub.io/packages/helm/bitnami/kube-state-metrics

[2021-07-30 23:00] mbeacom opened #18 "Add OpenTelemetry to project"
Provide the option to instrument the EKS cluster with OpenTelemetry helm charts out of the box.

[code]

### References:

- https://github.com/open-telemetry/opentelemetry-helm-charts/tree/main/charts/opentelemetry-collector

[2021-08-12 08:03] schwichti opened #19 "Default of endpoint_private_access"
Shouldn't the default for `endpoint_private_access` be `false`? At least, the description should be consistent.

[code]

see https://github.com/aws-samples/aws-eks-accelerator-for-terraform/blob/df6e87237a47c63fc65cad68e14436503f9a1427/source/variables.tf#L124

[2021-08-14 14:26] vara-bonthu commented on #19
Agree @schwichti Thanks for pointing that issue. Please raise a PR if you like

[2021-08-14 14:45] mbeacom commented on #18
This issue was resolved by #20
I'll create a follow-up issue for AMP integration.

[2021-08-14 14:45] #18 closed

[2021-08-16 09:25] schwichti opened #21 "Hardcoded awsRegion in cluster_autoscaler helm chart"
Hi, I was wondering why the `awsRegion` of the `cluster_autoscaler` helm chart is hardcoded to `eu-west-1`. Shouldn't that be `provider.aws.region`?
[code]

https://github.com/aws-samples/aws-eks-accelerator-for-terraform/blob/66591a041bd8291c69dc82162b510ece50db9637/helm/cluster_autoscaler/main.tf#L47

[2021-08-16 18:41] chtompki commented on #21
+1

[2021-09-08 02:55] rohitjha941 opened #24 "Fluentbit is unable to log to cloudwatch"
I am trying to use `aws-for-fluentbit` module to forward container logs to cloud watch.  I am getting the following error.

[code]

[2021-09-10 07:10] Filirom1 opened #25 "CSI EFS Driver Add-on"
Hello,

This is a feature request. I tried this repo and note that some AWS components are still missing.
Would it be possible to add [CSI EBS](https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html) and [CSI EFS](https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html) drivers ?

Kind regards
Romain

[2021-09-12 22:05] vara-bonthu commented on #25
Hey Romain  @Filirom1  Thanks for raising the FR. We are currently working on a major framework change which should be available as a new release in couple of weeks. I will add the CSI with EBS and EFS to our roadmap. Will keep you posted. Thanks

[2021-09-13 19:53] vara-bonthu opened #27 "Config driven Node groups and Fargate profiles creation"
Currently Managed node groups, self managed node groups and fargate profiles requires TF code change to `main.tf` file. This new feature helps to define node groups/ fargate profiles as a map of values in TFVARS file and the TF code should handle the dynamic creation of Node groups and the fargate profiles.

As a part of this change, we are rewriting all the EKS modules(EKS Core, EKS Fargate, EKS

[2021-09-15 07:08] FalcoSuessgott opened #28 "One question out of curiosity"
I have looked in to this project and noticed a configuration that I want to use aswell, but couldnt get it to work.

For some reason you seem to be able to initialise a provider with module output:

[code]

While the Terraform [Documentation](https://www.terraform.io/docs/language/providers/configuration.html) states the following:

I dont understand how that is possible? My use case is that I dep

[2021-09-26 07:29] BrikerMan commented on #27
Looking forward to this release, it will be huge for me.

[2021-10-05 08:48] vara-bonthu commented on #28
Hi @FalcoSuessgott Firstly thanks for raising the issue.
This has been corrected in the new release by only using the data sources for Kubernetes provider that is coming out this week.

[2021-10-05 08:52] vara-bonthu commented on #21
Thanks for raising this issue @schwichti . We have resolved this issue in the new release that is coming out this week.
Thanks @mbeacom for your proactive PR on this issue. We are doing a major change to AWS EKS Accelerator module to keep the Node groups independent from EKS cluster. I have included this fix as part of this new release.

[2021-10-05 14:08] mbeacom commented on #21
@vara-bonthu I recently joined AWS. If there is anything I can do, let me know!

[2021-10-05 16:15] vara-bonthu opened #34 "Convert Kubernetes Addons variables to one map value"
**Problem:**
Currently Kubernetes Addons variables defined as individual variable(string or bool etc.) in tfvars file. This increases the complexity of managing and adding these variables across all the `variables.tf`  files in the repo. Abstracting any new variable to TFVARS  for Kubernetes Addon requires adding in all` variables.tf` files.

**Solution:**
Converting Kubernetes Addon each individu

[2021-10-15 13:43] vara-bonthu opened #41 "Enable EMR on EKS Feature"
Enable EMR on EKS Feature through sub module

This feature will be released as a part of **Release3**. Currently the work is in progress in Feature branch

[2021-10-16 20:31] #41 closed

[2021-10-24 23:33] vara-bonthu opened #57 "[Feature] ArgoCD Kubernetes Addon"
Add ArgoCD Kubernetes Addon using Helm Chart

[2021-10-26 10:47] #57 closed, assigned to vara-bonthu

[2021-11-02 08:48] awsandy opened #64 "The official documentation site link is broken!"
The official documentation site link (https://aws-ia.github.io/terraform-ssp-amazon-eks). is broken!

[2021-11-02 13:59] kcoleman731 commented on #64
Thanks @awsandy! Doc links are fixed.

[2021-11-02 13:59] #64 closed

[2021-11-17 18:47] youwalther65 opened #73 ""terraform init" fails"
I cloned the repo and tried "terraform init" in various project directories for example:
deploy/eks-cluster-with-new-vpc
aws-eks-accelerator-for-terraform/deploy/advanced/live/preprod/eu-west-1/application_acct/dev

I always get:
╷
│ Error: Failed to query available provider packages
│
│ Could not retrieve the list of available versions for provider hashicorp/aws: no available releases match the g

[2021-11-23 05:27] askulkarni2 commented on #73
Hi @youwalther65, we are not able to reproduce this issue on our end. Would mind running another example such as [this](https://registry.terraform.io/providers/hashicorp/aws/latest/docs#example-usage) to confirm the issue?

[2021-11-23 14:02] youwalther65 commented on #73
Thank you. I started a brand new clone and everything works fine. I am going to close the issue.

[2021-11-23 14:02] #73 closed

[2021-11-23 14:03] youwalther65 commented on #73
Not reproducible

[2021-11-25 18:43] ruzickap opened #79 "Example in eks-cluster-with-new-vpc doesn't work"
It looks like the example in the `deploy/eks-cluster-with-new-vpc` doesn't work:

[code]

Thanks for looking at it...

[2021-11-25 21:13] vara-bonthu commented on #79
Thanks @ruzickap for raising this issue. Recent merge broke some functionality which i fixed now. I will merge bug fix PR soon

[2021-11-28 22:51] vijoyem opened #84 "issue with straight steps"
Error: Error fetching Availability Zones: UnauthorizedOperation: You are not authorized to perform this operation.
│       status code: 403, request id: 0a328641-b053-46e7-acdb-53e80a1a3740
│
│   with data.aws_availability_zones.available,
│   on main.tf line 35, in data "aws_availability_zones" "available":
│   35: data "aws_availability_zones" "available" {}

[2021-11-29 12:13] schwichti opened #87 "local.argocd_add_on_config.ingressNginx and local.argocd_add_on_config.nginxIngress"
Why there are the keys `ingressNginx` and `nginxIngress`? Looks like a mistake.

https://github.com/aws-samples/aws-eks-accelerator-for-terraform/blob/3ca142345b00d5546e0c2236b7eb60f862f995b0/locals.tf#L95

https://github.com/aws-samples/aws-eks-accelerator-for-terraform/blob/3ca142345b00d5546e0c2236b7eb60f862f995b0/locals.tf#L98

[2021-11-29 23:32] askulkarni2 opened #90 "Audit docs and examples for usage of source"
In all of our readmes, docs and examples we should be pinning the usage of our modules to specific versions.

[2021-11-29 23:43] askulkarni2 commented on #90
Example https://github.com/aws-samples/terraform-ssp-eks-patterns/blob/056d961ea07678b097224e38371524a6d8c25208/examples/1-eks-cluster-with-new-vpc/main.tf#L98

[2021-11-30 00:34] kcoleman731 commented on #87
@schwichti yep and is resolved here. https://github.com/aws-samples/aws-eks-accelerator-for-terraform/pull/83

Thank you!

[2021-11-30 22:57] askulkarni2 commented on #84
Hi @vijoyem, this error typically means you do not have adequate permissions to create the cluster. The error directly related to `ec2:DescribeAvailabilityZones` API but there might be others you need permissions to as well. [This](https://github.com/weaveworks/eksctl/blob/main/userdocs/src/usage/minimum-iam-policies.md) is a good list of permissions needed as a reference.

[2021-11-30 22:58] #84 closed

[2021-11-30 23:28] askulkarni2 commented on #79
Fixed in #80. Closing this issue.

[2021-11-30 23:28] #79 closed

[2021-11-30 23:30] askulkarni2 commented on #16
Closing issue here. We are tracking it internally.

[2021-11-30 23:30] #16 closed

[2021-11-30 23:33] askulkarni2 commented on #15
Close issue here as we track this internally.

[2021-11-30 23:33] #15 closed

[2021-12-01 22:09] SandersAaronD opened #94 "eks-cluster-with-new-vpc doesn't work"
As title says: You cannot *actually use* this repository, to the best of my ability to discern. That specific file assumes that you already have an s3 backend configured, and the readme for it references a totally different repository (ie, is completely wrong and cannot be followed).

[2021-12-01 22:16] SandersAaronD commented on #94
For followup issues: With the backend changed to local, refuses to provision in us-east-1, says us-east-1e doesn't have enough resources. I had a different error last week which I do not rcurrently recall.

Will add: I cannot necessarily even use this module directly in the environment I need it in because referencing modules on github is fraught with security issues, so I can't use the method det

[2021-12-02 05:04] askulkarni2 commented on #94
@SandersAaronD Thank you very much for the feedback. This project is still under active development but we are absolutely working towards as you say "no-drama EKS deployments".  Please bear with us as we work towards that objective. Happy to look into the us-east issue if you can share an error message. We plan to eventually publish this framework as a terraform module.

[2021-12-07 10:28] vara-bonthu commented on #90
We can update all the examples with source and version variables once we move this module to Terraform registry. Users can choose any version using the tags

[2021-12-14 15:14] milosh3411 opened #105 "irsa module fails to create service account for EKS managed vpc-cni addon"
The error can be reproduced by running example "8-eks-cluster-with-eks-addons" from https://github.com/aws-samples/terraform-ssp-eks-patterns. Service account "aws-node" already exists when irsa_addon module tries to create it for vpc_cni addon:

`Error: serviceaccounts "aws-node" already exists
│
│   with module.aws-eks-accelerator-for-terraform.module.vpc_cni[0].module.irsa_addon.kubernetes_serv

[2021-12-14 15:50] vara-bonthu commented on #105
Thanks @milosh3411 for pointing this issue. VPC CNI gets installed by default while creating EKS Cluster and `aws-node` service account also created by this step. It looks like installing EKS managed vpc-cni add-on is not cleaning up all the existing resources. Terraform may need to reuse the `aws-node` sa in this case to avoid the issue.
I am looking into the issue will update the issue according

[2021-12-14 17:28] kcoleman731 commented on #87
Resolved as of #83

[2021-12-14 17:28] #87 closed

[2021-12-15 15:16] milosh3411 commented on #105
Thanks @vara-bonthu

What happens with "aws-node" service account annotation: "eks.amazonaws.com/role-arn" : aws_iam_role.irsa.arn ?
It seems that existing "aws-node" service account won't be annotated with the created irsa role.

[2021-12-15 15:53] vara-bonthu commented on #105
AWS EKS VPC CNI Addon `resource "aws_eks_addon" "vpc_cni"` resource is annotating the IAM role with service account. In this case we don't need to create a new service account since it already exists.

@milosh3411 You can try the test again with this PR and verify the `aws-node` service account for annotations. Let me know  if you find any issues.

Here is the output from my VPC SNI add-on test wh

[2021-12-16 14:06] milosh3411 commented on #105
Tested, it is fine. Annotations in place. Thanks @vara-bonthu

[2021-12-16 14:09] #105 closed

[2021-12-16 14:09] milosh3411 commented on #105
Issue solved in Hotfix vpc cni #107

[2021-12-17 08:48] prashantbhrgv commented on #90
When are you planning to release the module on terraform registry? Looking forward to it

[2021-12-20 14:31] vara-bonthu commented on #90
@prashantbhrgv Thanks for your interest. We are still working on improving the code quality with some refactoring to simplify the user experience. It's going to be soon and will keep you posted

[2021-12-21 15:44] nuwang opened #132 "AWS Karpenter support"
Hi,

Are there any plans to include [AWS Karpenter](https://karpenter.sh/docs/getting-started-with-terraform/) as an alternative to the cluster autoscaler?

[2021-12-21 20:34] vara-bonthu commented on #132
@nuwang Thanks for your interest. Yes, we are working on it now. It will be added soon with some examples

[2021-12-22 15:26] prasadshivan opened #138 "Launch Template"
Hi Team,
I am testing the terraform code and I see that there are two launch template being created and the autoscaling group is using the default template which is not encrypting the EBS.

[2021-12-23 22:53] Zvikan commented on #138
Hey @prasadshivan , thank you for raising this issue.
By default, EKS managed node groups are creating its own launch template which does NOT enforce encryption of the root volumes (which you can enable default KMS encryption behavior for EBS following [this docs](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html#EBSEncryption_key_mgmt)).
It is possible with EKS managed node g

[2021-12-23 23:04] prasadshivan commented on #138
Thank you for the explanation @Zvikan , I will go through the documentation again.

[2021-12-23 23:04] #138 closed

[2021-12-28 11:01] hksfho opened #156 ""dial tcp 127.0.0.1:80: connect: connection refused" on kubernetes-addons module"
I am running terraform using gitlab-ci and there are some unsupported variable errors thrown today.
After chasing for a while, I observed that the main branch has been updated. The k8s addon config has been refactored as a sub-module. So I updated my terraform code from

[code]

to

[code]

Unfortunately, the terraform apply is failed.
[code]
https://i.ibb.co/8zfv4st/Screenshot-2021-12-28-at-5-56-

[2021-12-28 20:35] askulkarni2 commented on #156
Hi @hksfho, thank you for raising this issue. We too observed this today. We are working on a fix and will have it out very shortly.

[2021-12-31 11:40] vara-bonthu commented on #156
It's a dependency issue between EKS Cluster and kubernetes-addons module. We have added the explicit dependency and updated the examples with more information.

[2021-12-31 11:40] #156 closed

[2022-01-04 15:36] fdervisi opened #171 ""kubernetes_config_map" "aws_auth" + "kubernetes_config_map" "amazon_vpc_cni" errors - need help please"
When I follow your example code I got this error:

[code]

And this is the error:

[code]

I can fix it, when I run after the deployment:

[code]

But I think it should not be like that. How can I get a clean run without the fix?

[2022-01-04 18:31] vara-bonthu commented on #171
Are you using the full example or just the code that you pasted above?
You need to define the **providers** and **data** sources as shown in the [example](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/blob/main/deploy/1-eks-cluster-with-new-vpc/main.tf)

[2022-01-04 18:48] fdervisi commented on #171
Yes I also used this one, I have defined the provider and the data block.

terraform {
  required_version = ">= 1.0.1"

[code]

If you just spin up a fresh linux and put your example, most probably you will also encounter the error..

[2022-01-05 12:43] fdervisi commented on #171
Thanks @vara-bonthu, I missed the kubernetes and helm provider, this was the issue! Your example is working perfectly fine

[2022-01-05 12:43] #171 closed

[2022-01-06 14:35] schwichti opened #175 "Feature request: Pass workers_additional_policies to nodes"
Hi,

I want to pass additional policies to EKS nodes / workers. The EKS accelerator uses the EKS module under the hood which has the `workers_additional_policies argument` for that. However, the argument is not exposed by the accelerator.

Is there a workaround for this? I want to use the accelerator as a module. One solution might be to get the IAM role for the EKS nodes from the accelerator and

[2022-01-07 09:41] vara-bonthu commented on #175
Thank for raising this @schwichti issue. Yes, currently we are not supporting sending additional IAM policies to the Node groups. I believe this is useful feature and it can be easily added to our module. I will add this task to our ROADMAP and keep you informed soon.

On another note we recommend using IRSA instead of adding more policies to the Worker Nodes itself. This narrows the security to t

[2022-01-07 12:49] schwichti commented on #175
Thanks, the IRSA approach is even better, although I have to rework the k8s resources.

One question regarding this: do you recommend having dedicated service accounts per pod with least priviledges?
From a security perspective this seems reasonable. But managing all the service accounts might getting complex (I have 70 pods). I am also in the process to integrate AWS secrets manager to store k8s

[2022-01-07 14:23] schwichti commented on #175
Maybe I have found another use case for exposing `workers_additional_policies`: add the AmazonSSMManagedInstanceCore policy to nodes to connect to them via AWS Session Manager.

[2022-01-11 08:56] schwichti commented on #175
I just found out that `workers_additional_policies` have been removed in the eks module version 18.

[2022-01-11 10:53] vara-bonthu commented on #175
I have included this policy `AmazonSSMManagedInstanceCore` to node groups in my new [PR](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/pull/179).

[2022-01-11 21:11] vara-bonthu commented on #132
Closing the issue with the Feature merge

[2022-01-11 21:11] #132 closed

[2022-01-12 15:23] spy1233 opened #185 "k8s_labels for self managed node group doesn't work"
Hi,
It seems k8s_labels for self managed node group doesn't work.
I tried it with [this example](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/tree/main/examples/1-eks-cluster-with-new-vpc).
Thanks.

[2022-01-12 22:14] vara-bonthu commented on #185
Thanks for raising this issue. Yes, `k8s_labels` and `k8s_taints` are supported only by using **Managed Node groups** but not with **Self-managed node groups** using this module.
I will will raise a PR and update the docs

[2022-01-14 15:01] schwichti opened #193 "self-managed windows nodes don't join EKS cluster"
Hi,
I followed this example https://github.com/aws-samples/aws-eks-accelerator-for-terraform/tree/main/examples/5-eks-cluster-with-windows-support to add windows nodes to my eks cluster. In fact, the respective auto scaling group has one instance, but it is not available in my eks cluster. What could be the problem?

[2022-01-14 19:53] #175 closed

[2022-01-14 19:53] #185 closed

[2022-01-15 23:51] awsitcloudpro commented on #193
Hello @schwichti
I have 2 clusters running with Windows workloads. One was created a week ago, and the other just few minutes ago. I am not seeing any issues with Windows nodes joining the cluster.
Please check the following:
1. Login to the Windows instance. (Note: The latest version of this repo attaches AmazonSSMManagedInstanceCore policy to the nodes' IAM role, which was missing earlier. If yo

[2022-01-16 05:08] skuriyadi opened #196 "Terraform plan"
Hi Team,

I am trying to create a cluster with managed node group with a main.tf, variable.tf and tfvars file but the terraform plan is taking more than 15 minutes to execute. Please let me know if there something which I am doing wrong/different.

I am using https://github.com/aws-samples/aws-eks-accelerator-for-terraform/blob/main/examples/1-eks-cluster-with-new vpc/main.tf example.

Thank you

[2022-01-16 06:38] rl-abdulkarim commented on #196
Would be nice if you could share the exact command that you ran and the output that you saw at the end of 15 minutes.

Usually plan shouldn't take that long, the apply command takes 15 minutes or more because AWS requires 10+ minutes to provision EKS cluster itself.

[2022-01-16 06:39] skuriyadi commented on #196
I used the terraform plan and I used  https://github.com/aws-samples/aws-eks-accelerator-for-terraform/blob/main/examples/1-eks-cluster-with-new and the plan ran successfully.

[2022-01-16 08:01] rl-abdulkarim commented on #196
I tried running terraform plan on main branch and it takes under 2 minutes for plan to complete.

[code]

Are you on a slow internet connection by any chance?

[2022-01-16 08:06] skuriyadi commented on #196
I am running a 300 mpbs connection. Can you please paste the source url here, I am using  source = "github.com/aws-samples/aws-eks-accelerator-for-terraform"

[2022-01-16 08:59] rl-abdulkarim commented on #196
I haven't made any modifications, all I did was

1. `git clone git@github.com:aws-samples/aws-eks-accelerator-for-terraform.git `
2. `cd examples/1-eks-cluster-with-new-vpc`
3. `terraform plan`

[2022-01-16 09:50] rl-abdulkarim opened #197 "Documentation: Add example for ArgoCD way of managing add-ons"
As per the [docs](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/blob/main/docs/add-ons/index.md#gitops-with-argocd) there are 2 ways to manage addons

1. Via Terraform by leveraging the Terraform Helm provider.
2. Via GitOps with ArgoCD.

The examples/ directory has examples that make use of Terraform Helm provider. It would be great to have a working example with ArgoCD method

[2022-01-16 15:30] skuriyadi commented on #196
I am trying to source the modules from the git repo instead of cloning and using it.

[2022-01-17 10:04] vara-bonthu commented on #197
Hi @rl-abdulkarim Thanks for raising this question. We have an active [PR](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/pull/191) that should address your query. This new example is going to show how you can manage add-ons using ArgoCD.

[2022-01-17 14:16] schwichti commented on #193
1-3. looks good
4. shows me the following error:

[code]

[2022-01-17 14:32] skuriyadi commented on #196
Thank you @vara-bonthu , I am using` depends_on` and also creating eks cluster and creating the kubernetes components in same terraform apply. I will decouple eks creation and kubernetes components.

[2022-01-17 14:37] #196 closed

[2022-01-17 14:41] schwichti commented on #193
This is also my configuration

[code]

[2022-01-17 19:47] schwichti commented on #193
I tried this example here: https://github.com/aws-samples/aws-eks-accelerator-for-terraform/tree/main/examples/5-eks-cluster-with-windows-support.

[code]

[code]
returns nothing.

[2022-01-17 20:06] schwichti commented on #193
Working with the 5-eks-cluster-with-windows-support I scaled down and up the windows auto scaling group. Now I see a different output:

[code]

[2022-01-17 20:09] schwichti commented on #193
Indeed, the windows node is now added to the example cluster. But I still do not know why it does not work for the real cluster.

[2022-01-17 23:56] schwichti commented on #193
I changed my vpc settings like this and now the windows nodes join the cluster
[code]

[2022-01-18 00:39] skuriyadi opened #199 "Cluster name"
Hi Team,

Is there any option to pass cluster name instead of tenant, environment and zone separately. I see that cluster name is derived from eks_tags module. Is it possible to add an option to pass just the cluster name if the eks_tags values are not provided.

[2022-01-18 14:44] awsitcloudpro commented on #193
It looks like you used a different version of the [Windows support example](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/tree/main/examples/5-eks-cluster-with-windows-support) as your VPC settings were different from what's in the example. Not sure if you used correct settings for CIDR and subnet IDs. From the error log, it's clear there was some networking issue in your earlie

[2022-01-18 15:00] vara-bonthu commented on #199
Yes, It's currently not supported as we derive the cluster name using the tags. However, we will add your request as an enhancement to allow users to pass the cluster_name.

[2022-01-18 15:02] skuriyadi commented on #199
Thank you @vara-bonthu

[2022-01-18 15:48] rl-abdulkarim commented on #197
That's awesome!

Should I close this issue now or will it auto-close with the PR? :)

[2022-01-18 19:08] #197 closed

[2022-01-18 19:24] kcoleman731 commented on #197
@rl-abdulkarim ArgoCD example has been merged. Feel free to check it out here https://github.com/aws-samples/aws-eks-accelerator-for-terraform/tree/main/examples/6-eks-cluster-with-argocd

[2022-01-19 08:35] schwichti commented on #199
I would appreciate this feature.

[2022-01-19 08:48] schwichti commented on #193
These were the settings for the earlier VPC:
[code]
I cannot see something wrong with it.

[2022-01-19 08:51] schwichti commented on #193
What would be the effect when CLUSTERNAME would have a wrong value here:
[code]

[2022-01-19 13:40] schwichti opened #205 "documentation for k8s_taints"
`k8s_taints` are not documented right now.
see https://github.com/aws-samples/aws-eks-accelerator-for-terraform/blob/main/modules/aws-eks-managed-node-groups/locals.tf#L24

Here is a working example you can use:
[code]

I haven't tested it with fargate profiles:
https://github.com/aws-samples/aws-eks-accelerator-for-terraform/blob/479b1a909c07fdc072181056bdcb799d90d8a877/modules/aws-eks-fargate-pr

[2022-01-19 14:47] awsitcloudpro commented on #193
The tag `kubernetes.io/cluster/clustername` was used by EKS versions 1.18 or earlier. It [should not affect EKS node placement](https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html) in v1.21. It may be [used by the AWS Load Balancer controller](https://docs.aws.amazon.com/eks/latest/userguide/alb-ingress.html) if there are multiple AWS services sharing the subnets or multiple EKS clu

[2022-01-19 15:48] schwichti commented on #193
May it be possible that the windows nodes needs to be rebooted before they join the cluster? A collegue of mine confirms the problems with joining windows nodes.

[2022-01-19 15:56] awsitcloudpro commented on #193
No, rebooting is not necessary from my experience. Also, if the user data script failed as it did for you, rebooting will not help, as the script will not be executed upon reboot. In that case, you can run [the script](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/blob/main/modules/aws-eks-self-managed-node-groups/templates/userdata-windows.tpl) manually with appropriate paramet

[2022-01-19 21:34] vara-bonthu commented on #205
@schwichti Thanks for testing and providing inputs. This looks good for me.
I am happy for you to raise a PR and show this as an example for the link you mentioned above

[2022-01-20 00:30] FelipeMartinez10 opened #207 "[QUESTION] EKS kubernetes-addons failed with "Kubernetes cluster unreachable""
Hello,

First I wanted to thank you for the great framework!

I am trying to create an EKS cluster and add several of the add-ons. I am executing this plan using Terraform 1.1.3 and running it on Terraform Cloud. Everything seems to work fine until it gets to the add-ons where it starts to fail. The errors I got are:

[code]

I'm new to Terraform, but it seems to me that the `apply` times out befo

[2022-01-20 09:59] schwichti commented on #193
Rebooting just worked for me to let the node join the cluster.

[2022-01-20 12:09] FelipeMartinez10 commented on #207
I found out what was going on. The instance type I chose was too small to contain everything and was failing with "Too many pods". I changed the instance type and added more nodes to the cluster and now it works as expected. :)

[2022-01-20 12:09] #207 closed

[2022-01-20 13:34] schwichti commented on #193
running the following command on the windows node also helps
[code]

[2022-01-20 15:41] schwichti opened #208 "[Bug]: disk_size on Windows nodes"
### Welcome to Amazon SSP EKS Accelerator!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/issues) and didn't find any.

### Amazon EKS Accelerator Release version

latest

### What is your environment, configuration and the example used?

[code]

### What did you do and What did you see instead?

I am trying to enlarge the disk

[2022-01-21 00:47] skuriyadi opened #209 "KMS Key"
Hi Team,

Is there an option to change/update deletion_window_in_days for KMS key.

[2022-01-21 08:20] schwichti commented on #193
Here are some errors and warnings from the log of my collegue who observes the same problem:

[code]

[2022-01-21 08:52] vara-bonthu opened #210 "Fix code scanning alert - CloudWatch Without Retention Period Specified"
Tracking issue for:
- [ ] https://github.com/aws-samples/aws-eks-accelerator-for-terraform/security/code-scanning/161

**Fix**: Change the type from string to number to fix the issue

[2022-01-21 09:01] vara-bonthu commented on #209
Hi @skuriyadi KMS Key deletion window is currently set to default value of 30 days. Currently this parameter is not exposed to change modify the value. May be we can look at the option to allow users to pass their own KMS key for EKS Cluster. Raise this as a Feature request. We will add it to backlog. Thanks

[2022-01-21 09:14] vara-bonthu commented on #193
@schwichti  @awsitcloudpro It would be nice to add the troubleshooting tips or findings to the Windows example as a comment and close this issue.

[2022-01-21 09:39] schwichti commented on #208
I set the size of the device "/dev/sda1" manually to 100 and now it seems to work:
[code]

I think with the aws-eks-accelerator you cannot change "/dev/sda" as it is hardcoded to "/dev/xvda"
https://github.com/aws-samples/aws-eks-accelerator-for-terraform/blob/main/modules/aws-eks-self-managed-node-groups/self-managed-launch-templates.tf#L25
Also note that it is important that I need the space on

[2022-01-21 10:01] schwichti commented on #193
This situation is is unsatisfying tome, because I do not know what is going on. The solution is reboot the instance/restart the kubelet. If there "is always a possibility of a temporary network anomaly affecting the startup of an instance" can't we implement automatic retries?

[2022-01-21 21:02] ricardosouzamorais commented on #208
/dev/sda1 is reserved for root.
xvda is recommended for instance store volumes. Did you try to user a recommended for EBS volumes?

Do you have the ebsnvme-id.exe installed into the instance? If so, can you add the output of its execution?

References:
- https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/device_naming.html
- https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/xen-drivers-ov

[2022-01-22 12:04] #210 closed

[2022-01-22 12:05] #209 closed

[2022-01-22 12:05] #199 closed

[2022-01-24 07:14] schwichti opened #217 "[QUESTION] Why my Windows containers have no internet access?"
#### Please describe your quesiton here
I have added a Windows node to my EKS cluster which has internet access. However, when a pod is started on the windows node, I have no Internet access inside the container:

[code]

How can I troubleshoot the problem?

#### More

- [x] Yes, I have checked the repo for existing issues before raising this question

[2022-01-24 13:15] schwichti commented on #217
I have found out that you need to add the following ingress rule to the linux nodes where coredns runs:
Type: DNS (UDP)
Port range: 53
Source: 0.0.0.0/0

[2022-01-24 13:15] #217 closed

[2022-01-27 09:00] schwichti opened #219 "[QUESTION] How to pass additional security groups to managed nodes?"
#### Please describe your quesiton here
I want to set additional inbound security rules for my managed nodes.
My first approach was to pass additional security groups via the variable `worker_additional_security_group_ids`.
Second approach was to get a reference to the auto-generated security group via `module.eks-ssp.managed_node_groups[0]["default"].managed_nodegroup_sec_group_id[0]` and add the

[2022-01-27 11:06] schwichti commented on #219
I believe the variable `worker_additional_security_group_ids` has no effect. `worker_additional_security_group_ids` is passed to the `eks` module here: https://github.com/aws-samples/aws-eks-accelerator-for-terraform/blob/35df1ce5bd4954e1ee7875f9cdb07f1a20ddfe9b/main.tf#L66. These `worker_additional_security_group_ids` referenced here: https://github.com/terraform-aws-modules/terraform-aws-eks/blo

[2022-01-27 14:08] schwichti commented on #219
It seems that when you posthumously set create_launch_template = true or create_worker_security_group = true (I am not sure which one is responsible), the node group is going to be replaced, but the old one is not deleted.

[2022-01-27 14:35] schwichti commented on #208
This might be helpful: https://github.com/terraform-aws-modules/terraform-aws-eks/blob/284b038bfda29800d2203d1fce939204c944fd70/workers_launch_template.tf#L448

[2022-02-02 12:52] schwichti commented on #208
@ricardosouzamorais if I understand the changes of your PR correctly, a new partition is created for the new device with another drive lettern. I do not see how this could help with this issue, as I need a bigger C drive (for large Docker images).

[2022-02-02 16:47] ricardosouzamorais commented on #208
Hello @schwichti , I am working on reutilizing the launch-template module from PR 223 to let customers specify block device mapping as an entry for launch templates.

[2022-02-02 20:50] dascar5 opened #225 "Error: Post "http://localhost/api/v1/namespaces/kube-system/configmaps": dial tcp 127.0.0.1:80: connect: connection refused with module.eks-ssp.kubernetes_config_map.aws_auth[0]"
I'm trying to deploy a cluster with self managed node groups. No matter what config options I use, I always come up with the following error:

**Error: Post "http://localhost/api/v1/namespaces/kube-system/configmaps": dial tcp 127.0.0.1:80: connect: connection refused
with module.eks-ssp.kubernetes_config_map.aws_auth[0]
on .terraform/modules/eks-ssp/aws-auth-configmap.tf line 19, in resource "kub

[2022-02-03 08:35] schwichti commented on #208
@ricardosouzamorais will I have to use karpenter to benefit from the launch-template module?

[2022-02-03 12:40] #225 closed

[2022-02-04 20:09] onlydole commented on #225
@dascar5 - I am having similar issues, actually! Was there something you found to fix this?

[2022-02-04 20:21] dascar5 commented on #225
Yes actually. So, I didn't add kubernetes and helm provider in my main.tf.
You have to add and configure it just like aws provider.

On Fri, Feb 4, 2022, 9:09 PM Taylor Dolezal ***@***.***>
wrote:

[2022-02-04 20:45] onlydole commented on #225
Ohhhh! Got it! Thank you!

For those looking at this issue, I was able to get this working again by setting the following values (my module name coming from the main example in the README.md):

[code]

[2022-02-05 11:14] #219 closed

[2022-02-05 17:34] ibuchh opened #229 "[Bug]: Issue with Karpenter example"
### Welcome to Amazon SSP EKS Accelerator!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/issues) and didn't find any.

### Amazon EKS Accelerator Release version

8

### What is your environment, configuration and the example used?

│ Error: Invalid value for module argument
│
│   on main.tf line 135, in module "karpenter-laun

[2022-02-05 19:19] vara-bonthu commented on #229
Thanks for raising the issue @ibuchh . I have just raise a PR to fix this example

[2022-02-05 19:39] #229 closed

[2022-02-08 09:43] ruzickap opened #232 "[FEATURE] Example showing disk + Amazon EKS encryption"
#### Describe the solution you'd like
Would be possible to enhance (or add) one example to show disk + EKS encryption using KMS?

It should be quite easy for Amazon EKS encryption using `cluster_kms_key_arn` variable, but example for worker node disk encryption is probably not trivial, because it may require creation of launch template.

Anyway - any example for Amazon EKS + worker node disk encry

[2022-02-08 17:09] ZoesDev opened #235 "[Bug]: Running eks-cluster-with-argocd example, causes a crash with unsupported attribute"
### Welcome to Amazon SSP EKS Accelerator!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/issues) and didn't find any.

### Amazon EKS Accelerator Release version

3.2.2

### What is your environment, configuration and the example used?

Terraform version - 1.0.5

example used - https://github.com/aws-samples/aws-eks-accelerato

[2022-02-08 19:10] sarasensible opened #236 "[Bug]: Namespace is hard coded to argocd in all argocd applications"
### Welcome to Amazon SSP EKS Accelerator!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/issues) and didn't find any.

### Amazon EKS Accelerator Release version

v3.2.0

### What is your environment, configuration and the example used?

Terraform version v1.1.4
on darwin_amd64
Used the argocd example with EKS

### What did yo

[2022-02-09 03:22] askulkarni2 commented on #236
Thanks for reporting the issue @sarasensible. We will get this fixed.

[2022-02-09 03:26] askulkarni2 commented on #235
Thanks for reporting this @ZoesDev. Seems like we need to update the example.

[2022-02-10 03:46] #235 closed

[2022-02-10 12:55] grid-dev commented on #25
@Filirom1 I use v3.2.2 and EBS support is included

[2022-02-10 13:09] grid-dev opened #243 "[ebs-csi & argocd] Support Graviton instance"
I want to use the repo together with AWS Graviton instances. Sadly, not all pods are running as expected.

#### Problem

I tried version 3.2.2 together with
* terraform 1.1.4
* instance type t4g.medium
* ami AL2_ARM_64

Sadly, the "ebs-csi-node" and "ebs-csi-controller" will never start up. The same applies to argo-cd.

#### Target

I would love to have a cluster running with Graviton instances as

[2022-02-10 13:47] schwichti opened #245 "[FEATURE] Windows support of OpenTelemetry addon"
#### Is your feature request related to a problem? Please describe
I want to collect performance metrics for Windows nodes in EKS cluster. However, the [aws-opentelemetry-eks addon](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/tree/main/modules/kubernetes-addons/aws-opentelemetry-eks) currently supports only linux nodes. In general, it seems to be feasible to collect metrics fr

[2022-02-10 13:49] schwichti commented on #193
I do not experience this problem anymore. So I guess this issue can be closed. However, implementing retries could still be beneficial...

[2022-02-10 13:49] #193 closed

[2022-02-10 15:13] schwichti commented on #219
@vara-bonthu even after the pull request, I cannot get it working. This is my configuration:
[code]

The security group and rules are created, but it seems that they are not used anywhere. Where am I supposed to see the security group in the aws console?

I also tried to move worker_additional_security_group_ids  into the node group definition like this:

[code]

However, it seems that the followi

[2022-02-12 08:12] ruzickap opened #250 "[Bug]: It is not possible to define Node Group in tfvars"
### Welcome to Amazon SSP EKS Accelerator!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/issues) and didn't find any.

### Amazon EKS Accelerator Release version

v3.2.2

### What is your environment, configuration and the example used?

I would like to use the `aws-eks-accelerator-for-terraform` module with `managed_node_grou

[2022-02-13 14:34] kaykhancheckpoint opened #252 "[QUESTION] does this project still use terraform-aws-eks community module ?"
#### Please describe your quesiton here

The project mentions in the README.md `This project leverages the community terraform-aws-ek) modules for deploying EKS Clusters.` I can't seem to see anywhere in the modules/ folder reference to this terraform-aws-eks module.

Is it still the case that this project uses https://github.com/terraform-aws-modules/terraform-aws-eks?

#### More

- [x] Yes, I ha

[2022-02-13 19:56] vara-bonthu commented on #250
@ruzickap Thanks for raising the issue 👍🏼

We will look at the best way to handle the default subnets. Idea is to allow the users to provide correct subnet ids for each managed node group/self managed. For example... one can create one managed node group with private subnets and the other one with public subnets.  We have to accommodate both scenarios

This [locals defaults map](https://github.com

[2022-02-13 20:03] vara-bonthu commented on #245
Thanks @schwichti We are currently working on improving the Open Telemetry Add-on overall. I will add the Windows feature to the roadmap.

[2022-02-13 20:13] kaykhancheckpoint commented on #252
Okay because i saw these modules https://github.com/aws-samples/aws-eks-accelerator-for-terraform/tree/main/modules/aws-eks-managed-node-groups and i can see that it is not using that community module.

I was  abit confused what i should use for my prod eks cluster, this repo or the terraform-aws-modules/eks/aws directly.

[2022-02-13 20:35] ruzickap commented on #250
Make sense to me...
I'll leave it up to you to decide how to do it.

I just wanted to point out, that currently it is not possible to have "node groups" defined as variables outside the main code...

Thank you.

[2022-02-13 20:50] vara-bonthu commented on #243
I have just validated and found that EBS CSI add-on is failing to deploy on ARM instances. This module is using the EKS Managed add-ons for EBS CSI driver with a version `v1.4.0-eksbuild.preview`.

I could see this issue has been fixed as per this https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/604. This fix may be available in later versions(v1.5.1) of EBS CSI driver.

You can try de

[2022-02-14 16:34] agermain opened #256 "[FEATURE] Support for terraform-aws-modules v18.0.0+"
#### Is your feature request related to a problem? Please describe
A race condition fixed as part of https://github.com/terraform-aws-modules/terraform-aws-eks/pull/1840

#### Describe the solution you'd like
Support for the upstream v18.0.0 terraform-aws-modules.

#### Describe alternatives you've considered
Considered maintaining our own fork but there's too many breaking changes to keep up. Is

[2022-02-15 10:20] vara-bonthu commented on #256
Hi @agermain Firstly, Yes It's in our ROADMAP to update the community EKS Cluster module to latest version.

However, We wont hit this issue with our module as we are only creating the EKS Control Plane using community EKS module. Add-ons are managed by dedicated `kubernetes-addons` sub module. Users can consume this module directly by just passing the EKS cluster id.

Our [basic example](https://

[2022-02-15 22:34] agermain commented on #256
Hi @vara-bonthu, thanks for the reply!

The way you've described the example is exactly how we've set it up, except we do it all in one apply. To be more specific, it's actually the coredns addon that is timing out after 15 minutes, if you have seen this happen, do you have any suggestions on avenues to diagnose it?

[2022-02-16 05:55] kcoleman731 opened #262 "Test"
#### Please describe your quesiton here

#### Provide link to the example related to the quesiton

#### Additional context

#### More

- [ ] Yes, I have checked the repo for existing issues before raising this question

[2022-02-16 05:55] #262 closed

[2022-02-16 11:12] vara-bonthu commented on #256
@agermain Could you please point me to the example that you are trying from this repo? We don't hit this issue with our repo.

You shouldn't get **coredns** add-on issue with our repo as we are not deploying the Add-ons as a part of EKS Cluster creation module.

[code]

Try this [example] (https://github.com/aws-samples/aws-eks-accelerator-for-terraform/blob/main/examples/eks-cluster-with-new-vpc/

[2022-02-16 11:44] vara-bonthu commented on #243
Hi @grid-dev Created an issue in EKS Roadmap. Please feel free to add more details to this
https://github.com/aws/containers-roadmap/issues/1655

[2022-02-16 16:42] skuriyadi opened #264 "Slowness"
Is anyone facing slowness in applying the plan while using latest version?

Thank you

[2022-02-16 16:58] grid-dev commented on #243
@vara-bonthu sorry but so far had no time to test your recommended solution – as I am currently using none ARM instances as a workaround and am consumed by the cluster config itself. The roadmap item looks complete for me -thanks for the initiative!

[2022-02-16 18:01] Zvikan commented on #264
Hey @skuriyadi !
Thank you for reporting this issue, we've hearing multiple reports recently and we already merged a fix to improves the terraform plan times, see  https://github.com/aws-samples/aws-eks-accelerator-for-terraform/pull/257, we've seen TF plan goes down to 30 seconds to 1 minute, compare to 5+ minutes before.

Can you please try using the latest version of `main` branch, and see if t

[2022-02-16 18:20] skuriyadi commented on #264
Hey @Zvikan ,
I missed the PR https://github.com/aws-samples/aws-eks-accelerator-for-terraform/pull/257, I upgraded to the latest version and now the planning is taking one minute to build which is expected as I am adding other resources in it. I am seeing below  message but not breaking the plan.

![IMG_9366](https://user-images.githubusercontent.com/56490962/154330245-c7539c96-c231-420c-ade7-b1b

[2022-02-16 19:17] Zvikan commented on #264
@skuriyadi Thank you for the quick reply, happy to read the plan is back to normal.
As for the `module_variable_optional_attrs` - it was added in  https://github.com/aws-samples/aws-eks-accelerator-for-terraform/pull/223

[2022-02-16 19:29] askulkarni2 commented on #264
@skuriyadi we use `module_variable_optional_attrs` for [defaults](https://www.terraform.io/language/functions/defaults) so we can use input variables type constraints.

Looks like the performance issue you reported as been resolved. I will close this for now.

[2022-02-16 19:29] #264 closed

[2022-02-17 12:24] bonclay7 opened #267 "[Bug]: Resource dependency for IAM in terraform destroy"
### Welcome to Amazon SSP EKS Accelerator!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/issues) and didn't find any.

### Amazon EKS Accelerator Release version

v3.2.2

### What is your environment, configuration and the example used?

When deleting example with

[code]

### What did you do and What did you see instead?

Got

[2022-02-17 16:36] Zvikan commented on #267
@bonclay7 I wasn't able to reproduce the exact same failure you reported, few questions/notes:
1. Release version 3.2.2 doesn't have the observability example, any chance you ran against `main` branch?
2. Running the example using `main` branch, TF destroy failed with the following error message:
[code]

I could also see the error on the IAM console `deletion failed`, I believe a proper dependency

[2022-02-17 21:09] bonclay7 commented on #267
Thanks a lot @Zvikan, and yes that was the `main` branch

[2022-02-18 20:39] vakkursw opened #270 "Taints on Windows nodes"
#### Please describe your quesiton here
When creating a self-managed windows node, i cannot taint the nodes using kubelet_extra_args = "--register-with-taints=kubernetes.io/os=windows:NoSchedule"

  # SELF-MANAGED NODE GROUP with Windows support
  enable_windows_support = true

  self_managed_node_groups = {
    ng_od_windows = {
      node_group_name    = "selfwindows"
      launch_template_os =

[2022-02-20 05:32] awsitcloudpro commented on #270
Apparently recent changes removed users' ability to pass launch template / user data parameters such as `kubelet_extra_args`. @ricardosouzamorais can you please address this?

@vakkursw until this is resolved, you can use the older release v3.2.1 of this module to pass `kubelet_extra_args`, e.g.

[code]

[2022-02-20 07:33] ricardosouzamorais commented on #270
Sure.

[2022-02-20 07:34] ricardosouzamorais commented on #270
Sure. I will dive deep into this.

[2022-02-20 19:12] rst3b opened #275 "[FEATURE] Add ability to trigger an update of an existing MNG"
#### Is your feature request related to a problem? Please describe
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

There currently doesn't seem to be a method to trigger a MNG update process of an existing MNG. There is no ability to specify a specific release version and incrementing the kubernetes_version cluster input variable does not force MNG to

[2022-02-22 04:28] gohmc opened #280 "What is the need of IRSA for ingress-nginx"
Hi there,

May I know given this [code](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/blob/4ac674fd9eabc418277ff03fe6ddca8dc24f95ed/modules/kubernetes-addons/ingress-nginx/locals.tf#L57); the ingress-nginx addon module will not create the k8s service account but will create an AWS iam role instead. As a result, the helm deployment failed because the ingress-nginx-controller need

[2022-02-22 08:13] #250 closed

[2022-02-22 08:13] #270 closed

[2022-02-22 08:13] #275 closed

[2022-02-22 08:37] vara-bonthu commented on #267
Closing the issue as fix merged

[2022-02-22 08:37] #267 closed

[2022-02-22 08:38] vara-bonthu commented on #256
Closing the issue as this issue is not reproducible with Accelerator module

[2022-02-22 08:38] #256 closed

[2022-02-22 08:39] vara-bonthu commented on #252
Closing the issue with the explanation

[2022-02-22 08:39] #252 closed

[2022-02-22 08:40] vara-bonthu commented on #243
Let's keep this issue open until the root cause is resolved

[2022-02-22 19:17] kcoleman731 commented on #90
Closing issue. Doc improvements are ongoing.

[2022-02-22 19:17] #90 closed

[2022-02-22 21:07] ruzickap commented on #250
Thank you for looking at it and crating PR.

It would be handy to have some example code for the PR.

I tried the code mentioned above and I got the following error:

[code]

Thank you...

[2022-02-23 10:46] gohmc commented on #280
Thanks, the service account is deployed in the "nginx" namespace rings a bell. May I suggest to make this namespace a variable instead of hardcoded? There are cases where we need multiple ingress-nginx in a cluster, company namespace naming policy etc. Allow to set ingress-nginx namespace will be very helpful.

Tested using the required annotations as you pointed out, the LoadBalancer service requ

[2022-02-23 16:53] 0xdabbad00 opened #284 "[FEATURE] Enforce IMDSv2 by default"
#### Is your feature request related to a problem? Please describe
IMDSv2 enforcement is a security best practice. All AWS provided open-source projects should be secure by default and implement best practices. This project sets `http_tokens` to `optional` by default, which means that customers will end up deploying something that does not implement security best practices.  You can see the line h

[2022-02-23 17:07] vara-bonthu commented on #284
Thanks for raising this issue @0xdabbad00 👍🏼   We will push a hot fix for this soon

[2022-02-23 18:20] kcoleman731 commented on #280
@gohmc namespace is configurable via the `ingress_nginx_helm_config` property. Each add-on has a similarly named property that allows you to fully customize the helm deployment.

https://github.com/aws-samples/aws-eks-accelerator-for-terraform/blob/main/examples/advanced/k8s_addons/main.tf#L318

[2022-02-23 18:58] grid-dev commented on #243
I tried but did not get it deployed. "ImagePullBackOff" for version 1.5.1.

[2022-02-23 19:53] askulkarni2 commented on #236
Fixed in https://github.com/aws-samples/aws-eks-accelerator-for-terraform/pull/283

[2022-02-23 19:53] #236 closed

[2022-02-23 21:41] askulkarni2 commented on #280
@wsarwari-amzn can we validate this? If this is true which it sounds like it is, then IRSA is not needed here.

[2022-02-24 11:25] tanvp112 opened #290 "Managed node group naming"
I defined a `managed_node_groups` like the following and succeeded provision an EKS cluster:

[code]

But on the console the name was appended with a long string of data (looks like timestamp):

<img width="314" alt="image" src="https://user-images.githubusercontent.com/57385114/155515030-8aa47390-ade3-4138-9a24-482301cd928f.png">

Can someone help me on what field do I need to set in order not to

[2022-02-24 20:09] bryantbiggs commented on #290
it is hardcoded so the prefix will always be appended https://github.com/aws-samples/aws-eks-accelerator-for-terraform/blob/a1e11272fbec39a783a7a4d0641cf6373476b19e/modules/aws-eks-managed-node-groups/main.tf#L3

[2022-02-24 23:38] vara-bonthu commented on #290
@tanvp112 Firstly, thanks for raising a question. May i know why you want to keep the static names for Managed Node Groups?  I would like to understand your specific use case.

We don't currently allow the users to use just a static names in our node group module because this is going to cause an issue during the Managed Node group updates.

When Managed Node groups are updated(e.g., change of ins

[2022-02-25 14:40] tanvp112 commented on #290
@vara-bonthu to my understanding change of instance type is not consider an EKS upgrade. So happen that today I am doing an upgrade for a v1.19:

<img width="929" alt="image" src="https://user-images.githubusercontent.com/57385114/155731193-168414f3-5a83-4346-92aa-74698433c998.png">

to v1.20:

![image](https://user-images.githubusercontent.com/57385114/155731688-317fc7ab-95a3-4ab4-b502-26f6c6d712

[2022-02-25 16:18] vara-bonthu commented on #290
@tanvp112

I didn't mention the EKS upgrade. I was talking about updates to the existing Managed Node groups as explained in the example above. It could be a simple change of new `instance type` or a  `release version` or launch template version etc.

Users doesn't need to go through the multiple steps of `manual process` by adding the code for the new node group, once the TF apply is successful,

[2022-02-26 04:00] tanvp112 commented on #290
Thanks, it's clear for me now why the long string and this is the default for **_aws-eks-accelerator-for-terraform_** for the time being. I would certainly suggest to offer `node_group_name` an option over `node_group_name_prefix`.

[2022-02-26 04:00] #290 closed

[2022-02-26 13:48] vara-bonthu commented on #290
Thanks @tanvp112 Please feel free to raise a Feature Request. We will add this to our roadmap

[2022-02-28 13:41] schwichti commented on #219
@vara-bonthu I still am not able to add additional security groups to my managed nodes. I just want to allow inbound traffic to port 9000 and 53. Can you guide me?

[2022-03-02 00:11] camba1 opened #299 "[Bug]: Error running 'Getting Started' on govCloud"
### Welcome to Amazon SSP EKS Accelerator!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/issues) and didn't find any.

### Amazon EKS Accelerator Release version

latest :)  3.4.0

### What is your environment, configuration and the example used?

Terraform v1.0.10
on darwin_amd64
+ provider registry.terraform.io/gavinbunney/k

[2022-03-02 07:15] askulkarni2 commented on #299
@camba1 thanks for reporting the issue, I've opened a PR with the fix. We will test this and merge it soon.

[2022-03-02 11:35] #25 closed

[2022-03-03 15:53] jdwilly2001 opened #306 "[Question]: Unable to modify the cluster endpoint security group when enabling private"
#### Please describe your quesiton here
I am trying to provision an EKS cluster with this accelerator that is only exposed privately.

I have enabled the option
cluster_endpoint_private_access = true
and disabled the public access option
cluster_endpoint_public_access = false

The terraform is failing with a timeout while waiting for the cluster to become available.
Error making request: Get "http

[2022-03-03 17:08] askulkarni2 commented on #306
@jdwilly2001 thanks for raising the issue. Just to confirm you are trying access the private endpoint via a connected network and you are trying to add that network to the cluster security group?

[2022-03-03 17:55] askulkarni2 commented on #306
Great! Thanks for confirming!

[2022-03-03 21:47] askulkarni2 commented on #306
@jdwilly2001 please this branch a shot https://github.com/aws-samples/aws-eks-accelerator-for-terraform/tree/bug/306-support-private-endpoint and let us know if that worked for you.

[code]

[2022-03-04 13:53] jdwilly2001 commented on #306
@askulkarni2 I have implemented this in my repository and is working as expected.

[2022-03-04 15:11] #306 closed

[2022-03-07 17:09] skuriyadi opened #326 "Node group not getting created"
I am using new version and the managed node group is not getting created, is there anything which changed in the new versions which I missed, please advise.

[2022-03-07 18:38] #326 closed

[2022-03-09 10:42] schwichti opened #328 "[FEATURE] Provide example for additional security group to managed node group"
#### Is your feature request related to a problem? Please describe
I am struggeling for weeks to add security groups to a managed node group. I need firewall rules that allow incoming traffic on two ports. This is a follow-up of https://github.com/aws-samples/aws-eks-accelerator-for-terraform/issues/219. Looking into the code the interplay of `create_worker_security_group`, `create_launch_template

[2022-03-09 18:29] vara-bonthu commented on #328
Hi @schwichti

`worker_additional_security_group_ids` can be used only with Launch templates for Managed and Self-Managed Node groups. Try this example and let me know if you face any issues.

I used your old example with some modifications

[code]

[2022-03-09 19:18] marinator86 opened #329 "[QUESTION] How to deploy multiple clusters using terraform workspaces"
Thanks for this amazing project!

I depled the cluster from examples with a new VPC.

When I switch the terraform workspace, let's say to prod, and try to deploy a second cluster with a different name, there is a collision because terraform attempts to create a cluster role with an existing name ( and maybe also additional resources ).

Is there something included to prefix every resource, or any

[2022-03-10 19:30] ruzickap opened #332 "[Bug]: Defining Node Group(s) in tfvars is not working"
### Welcome to Amazon SSP EKS Accelerator!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/issues) and didn't find any.

### Amazon EKS Accelerator Release version

v3.5.0

### What is your environment, configuration and the example used?

I would like to use the `aws-eks-accelerator-for-terraform` module with `managed_node_grou

[2022-03-10 19:44] vara-bonthu commented on #332
@ruzickap I think the error is indicating an issue with `Error: error creating EKS Cluster (test123): InvalidParameterException: Private and public endpoint access cannot be false`

Try the below. Make sure that Terraform client is within the VPC where you are deploying the cluster if you choose the option below

[code]
or

This is not recommended but you can access API service publicly. Only for

[2022-03-10 21:37] ruzickap commented on #332
You are right... This is not a bug - my bad.

Anyway - using the "external" variable file `variables.tfvars` like it is mentioned above with the `aws-eks-accelerator-for-terraform` module may be handy example...

Do you mind if I will create PR with new example directory `managed-node-groups-tfvars` where I will store + document the example above?

[2022-03-11 09:36] marinator86 commented on #329
Ok I found out that the issue was on my side, and I messed up the cluster role naming.

[2022-03-11 09:36] #329 closed

[2022-03-11 16:43] gmirsky opened #333 "[Bug]: String length check needed for aws_iam_role.irsa name in module kubernetes-addons"
### Welcome to Amazon SSP EKS Accelerator!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/issues) and didn't find any.

### Amazon EKS Accelerator Release version

v3.5.0

### What is your environment, configuration and the example used?

Terraform v1.1.7

### What did you do and What did you see instead?

Cluster name was mri-

[2022-03-12 16:14] camba1 opened #345 "[Bug]: Getting started template should not include Fargate"
### Welcome to Amazon SSP EKS Accelerator!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/issues) and didn't find any.

### Amazon EKS Accelerator Release version

3.5.0

### What is your environment, configuration and the example used?

Terraform v1.0.10

Using the example from the [getting started](https://github.com/aws-samp

[2022-03-12 21:36] camba1 opened #346 "[Bug]: Hardcoded partition on policies causes failure on gov cloud"
### Welcome to Amazon SSP EKS Accelerator!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/issues) and didn't find any.

### Amazon EKS Accelerator Release version

3.5

### What is your environment, configuration and the example used?

Terraform:
Terraform v1.0.10

main.tf from https://github.com/aws-samples/aws-eks-accelerator

[2022-03-12 21:40] camba1 commented on #346
Similar error found later on:
Error: error reading IAM Role Managed Policy Attachment (aws002-preprod-dev-eks-aws-node-irsa:arn:aws:iam::aws:policy/AmazonEKS_CNI_Policy): couldn't find resource

[2022-03-12 22:05] kcoleman731 commented on #332
Please do @ruzickap. This would be a welcome addition.

[2022-03-14 20:12] skuriyadi opened #348 "Key pair name"
Hi Team,

How do I add Key pair name in a managed group launch template.

Thank you

[2022-03-14 23:04] askulkarni2 commented on #299
Depends on #345 , #346

[2022-03-14 23:05] askulkarni2 commented on #328
Hi @schwichti, did ☝🏽 work for you?

[2022-03-14 23:07] askulkarni2 commented on #332
Closing this. @ruzickap feel free to open create the suggested PR when you get a chance.

[2022-03-14 23:07] #332 closed

[2022-03-14 23:11] askulkarni2 commented on #333
Hi @gmirsky, thanks for reporting this issue. I've created an issue for tracking this.

[2022-03-14 23:31] askulkarni2 commented on #348
Hi @skuriyadi, at this time, we do not support `key_name` as input.

SSM agent however is enabled on the managed node group instances and provides a way for you to access the shell in the managed node group instance.

You should be able to do something like this which you open a shell within your worker node instance.

[code]

It is also possible to setup SSH access over SSM connection, this is de

[2022-03-15 11:38] wsarwari-amzn commented on #280
I validated it's not using the IRSA to provision or delete AWS resources for NGINX add-on. I'll remove IRSA for NGINX add-on.

[2022-03-15 15:00] skuriyadi commented on #348
I tried to connect using SSM but not getting connected. I am confused about the below step in that:

https://docs.aws.amazon.com/systems-manager/latest/userguide/session-manager-getting-started-enable-ssh-connections.html#:~:text=Create%20or%20verify%20that%20you%20have%20a%20Privacy,file%20so%20that%20only%20you%20can%20read%20it.

[2022-03-16 06:19] askulkarni2 commented on #232
Thanks @ruzickap for raising this issue. @ricardosouzamorais any updates on the PR?

[2022-03-16 13:06] jplock opened #352 "[FEATURE] IPv6 Support"
#### Is your feature request related to a problem? Please describe

Ability to create IPv6 EKS clusters

#### Describe the solution you'd like
I would like to be able to create IPv6 EKS clusters using this accelerator

#### Describe alternatives you've considered

Using the [terraform-aws-eks](https://github.com/terraform-aws-modules/terraform-aws-eks) module directly

#### Additional context
[v18

[2022-03-16 15:34] camba1 opened #353 "[Bug]: context dealing exceeded due to metrics-server pod not terminating on terraform destroy"
### Welcome to Amazon SSP EKS Accelerator!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/issues) and didn't find any.

### Amazon EKS Accelerator Release version

3.5

### What is your environment, configuration and the example used?

Terraform v1.0.10
on darwin_amd64
+ provider registry.terraform.io/gavinbunney/kubectl v1.13.

[2022-03-16 15:40] camba1 opened #354 "[Bug]: Load balancer controller pods are unable to pull container image when deploying to govcloud"
### Welcome to Amazon SSP EKS Accelerator!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/issues) and didn't find any.

### Amazon EKS Accelerator Release version

3.5

### What is your environment, configuration and the example used?

Terraform v1.0.10
on darwin_amd64
+ provider registry.terraform.io/gavinbunney/kubectl v1.13.

[2022-03-16 16:55] askulkarni2 commented on #353
Thanks @camba1 fro reporting the issue. @Zvikan can you please have a look at this one?

[2022-03-16 17:11] askulkarni2 commented on #354
Thanks for the issue @camba1. We will get this fixed.

[2022-03-18 19:40] syscod3 opened #358 "[FEATURE] cloudwatch_log_group_kms_key_id to encrypt cloudwatch logs"
#### Is your feature request related to a problem? Please describe
tfsec reports a potential issue (a recommendation) with encryption of cloudwatch logs.
[code]
right now, the [eks module is not passing a kms key for cloudwatch ](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/blob/main/main.tf#L48)with the right policy attached  to [the module that actually creates the cluster](h

[2022-03-19 09:48] vara-bonthu commented on #358
Thanks for raising this issue @syscod3. This issue has been addressed in this PR #355

[2022-03-19 10:02] vara-bonthu commented on #345
This has been addressed. fargate profiles removed from this example `examples/eks-cluster-with-new-vpc` . Closing this issue now. Please reopen if you feel if anything is not addressed

[2022-03-19 10:02] #345 closed

[2022-03-20 17:29] vara-bonthu commented on #205
Closing the issue since the PR is merged now

[2022-03-20 17:29] #205 closed

[2022-03-21 18:19] skuriyadi commented on #348
@askulkarni2 can you please check my above comment.

Thank you

[2022-03-21 21:29] #353 closed

[2022-03-21 23:17] askulkarni2 commented on #348
@skuriyadi the SSH setup you have linked is optional if you want to use an SSH connection. What error you getting if you issue the `aws ssm start-session --target $INSTANCE_ID` command?

[2022-03-22 08:44] schwichti commented on #328
I will check as soon as possible.

[2022-03-22 15:11] naris-silpakit commented on #299
Closing this ticket since fixes have been merged.

[2022-03-22 15:11] #299 closed

[2022-03-22 21:02] schwichti opened #361 "[QUESTION] Use specific version for addons"
#### Please describe your quesiton here
How can I specify a specific version of the addons module to use?
The following example is not working:

[code]

#### Provide link to the example related to the quesiton

#### Additional context

#### More

- [x] Yes, I have checked the repo for existing issues before raising this question

[2022-03-22 21:56] schwichti commented on #361
the solution:

[code]

[2022-03-22 21:56] #361 closed

[2022-03-22 22:15] #280 closed

[2022-03-23 05:09] chunlea opened #363 "[Bug]: InvalidRequestException: Each network interface requires a device index."
### Welcome to Amazon SSP EKS Accelerator!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/issues) and didn't find any.

### Amazon EKS Accelerator Release version

v3.5.1

### What is your environment, configuration and the example used?

[code]

### What did you do and What did you see instead?

Try to use bottlerocket ARM man

[2022-03-23 06:13] nbrational commented on #363
encountered same issue.

[2022-03-23 06:23] chunlea commented on #363
And I found that it only failed when `create_launch_template  = true`, if I removed `create_launch_template  = true` or use `create_launch_template  = false`, the managed group could created successful.

I think there must be some bug in creating launch template.

[2022-03-23 08:25] vara-bonthu commented on #363
Thanks for reporting this issue. We have noticed this issue few days ago when `terraform-aws-provider` released a new version `4.6.0` which introduced a breaking change for launch templates.

Workaround is to set the provider version to `4.5.0` in your examples. However this issue has PR has been fixed merged now. See this issue for more details  https://github.com/hashicorp/terraform-provider-aws

[2022-03-23 11:20] sotiriougeorge commented on #363
Hello, just some clarification in case someone else (noob like me) stumbles upon the same issue. If your case is that your terraform script broke in a half-complete state due to the template thing, chances are you are going to follow @vara-bonthu instructions above and then proceed to hit `terraform init -upgrade` and then `terraform apply` to pick up where you left off.

Personally I kept receivi

[2022-03-23 15:18] vara-bonthu commented on #363
@sotiriougeorge I think the later option BUT using Terraform. You can update the node group by making `create_launch_template = false`  and re enable it again. I haven't tried this myself but this should work

[2022-03-23 22:57] #346 closed

[2022-03-23 22:57] #352 closed

[2022-03-23 22:57] #358 closed

[2022-03-24 01:59] skuriyadi commented on #348
@askulkarni2 Thank you, I am able to access through Session Manager.

[2022-03-24 01:59] #348 closed

[2022-03-24 06:36] chunlea commented on #363
@vara-bonthu Thank you, it works.

[2022-03-24 06:36] #363 closed

[2022-03-24 06:59] IrishAfrican opened #366 "[Bug]: ArgoCD Admin password set via AWS Secrets no longer works from v3.5.*"
### Welcome to Amazon SSP EKS Accelerator!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/issues) and didn't find any.

### Amazon EKS Accelerator Release version

3.5.0

### What is your environment, configuration and the example used?

[code]

### What did you do and What did you see instead?

### aws-eks-accelerator-for-terr

[2022-03-24 21:18] askulkarni2 commented on #366
@IrishAfrican thanks for reporting the issue. We will get this resolved soon.

[2022-03-25 07:38] askulkarni2 commented on #366
@IrishAfrican this may be due to https://github.com/hashicorp/terraform/issues/29744 which points to a [limitation](https://www.terraform.io/language/meta-arguments/for_each#limitations-on-values-used-in-for_each). Let me discuss this internally and figure out the best approach to resolve this.

[2022-03-25 10:28] IrishAfrican commented on #366
Thanks @askulkarni2 much appreciated.

[2022-03-25 17:23] askulkarni2 opened #368 "[Bug]: yunikorn add-on broken"
### Welcome to Amazon SSP EKS Accelerator!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/issues) and didn't find any.

### Amazon EKS Accelerator Release version

4.0.0

### What is your environment, configuration and the example used?

Yunikorn add-on chart url is broken as they have moved out [incubation](https://github.com/

[2022-03-25 20:23] askulkarni2 commented on #368
Fixed in #369

[2022-03-25 20:23] #368 closed

[2022-03-25 20:25] askulkarni2 commented on #366
@IrishAfrican I have a fix implemented in https://github.com/aws-samples/aws-eks-accelerator-for-terraform/tree/bug/fix-argocd-admin-password. If you don't mind, can you give it a go and see if that fixes your issue?

[2022-03-27 15:47] hksfho opened #371 "[Bug]: networkPlugin cni failed to set up pod "coredns-xxxx" network: add cmd: failed to assign an IP address to container"
### Welcome to Amazon SSP EKS Accelerator!

- [x] Yes, I've searched similar issues on [GitHub](https://github.com/aws-samples/aws-eks-accelerator-for-terraform/issues) and didn't find any.

### Amazon EKS Accelerator Release version

4.0.0

### What is your environment, configuration and the example used?

I enabled ipv6 but add-on(Coredns, load_balancer_controller) are stuck on ContainerCreating

[2022-03-27 18:52] vara-bonthu commented on #371
Thanks @hksfho for raising this issue. I have just tested and diagnosed the issue and its failing due to missing IPv6 policy for VPC CNI.

I have just raised a PR for this issue now. Please try this fix and let me know how it goes

[2022-03-28 08:18] IrishAfrican commented on #366
@askulkarni2 Thanks, your change does seem to fix the issue

[2022-03-28 15:46] hksfho commented on #371
It looks good to me. I have just test. It works as expected
[code]

[2022-03-28 17:12] #371 closed

[2022-03-28 17:26] #366 closed

[2022-03-28 17:54] vara-bonthu commented on #333
All the IAM roles and policies are prefixed with EKS Cluster names for better identification and making it unique to the cluster.

We need to add checks  for the following resources that cannot exceed 64 characters length

- EKS Cluster name
- Managed node_group_name
- fargate_profile_name
- IAM Roles names
- IAM Policy names

[2022-03-29 01:15] evairmarinho opened #373 "[FEATURE] Add kms support in launch template of eks managed node groups - `kms_key_id`"
#### Is your feature request related to a problem? Please describe
I need encrypt EBS in eks managed node groups.

#### Describe the solution you'd like
Add argument `kms_key_id` in launch template and flag  `encrypted` as `true` in `ebs block`.

#### Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

#### Additional

[2022-03-29 09:20] vara-bonthu commented on #373
Thanks for raising @evairmarinho . We are currently working on Managed node group to leverage launch templates module. Your request will be covered in that feature

[2022-04-03 16:05] camba1 commented on #354
This is fixed in the fix/load-balancer-controller-gov-cloud-support branch. Thanks @naris-silpakit for getting it going!

[2022-04-04 13:45] greengangsta opened #382 "[FEATURE] Add Velero as an add on to the accelerator."
#### Is your feature request related to a problem? Please describe
A clear and concise description of what the problem is.

Having a tool to backup and restore your Kubernetes cluster resources and persistent volumes.

#### Describe the solution you'd like
A clear and concise description of what you want to happen.
Adding valero as an add on to the accelerator.

#### Describe alternatives you've c

[2022-04-04 20:49] bryantbiggs commented on #243
hi @grid-dev - could you try again when you get a chance and let us know if this is working for you? The EBS CSI driver just recently went GA and it looks like the upstream issues related to ARM support are resolved now. Thanks!

[2022-04-04 21:35] danvau7 commented on #353
Still getting a similar issue regarding `Error: context deadline exceeded`. Sometimes `terraform destroy` works, sometimes it doesn't. Any ideas? The hangup is always around the `kubernetes-addons` module.

[2022-04-05 00:10] naris-silpakit commented on #353
Hi @danvau7, thanks for following up on this. We're working on a list of known issues, including this one. We're also working on a fix for this problem in particular, but don't have an estimate for when that will be pushed out. In the meantime, if you are trying to deploy the examples you can avoid the issue by deploying the VPC separately from the rest of the example.

[2022-04-05 00:33] danvau7 commented on #353
Setting the following in the `aws-eks-accelerator-for-terraform` helps significantly and would perhaps recommend adding to main example in the README.md:

[code]

Also modifying the helm configs such as in the following also helps. I change the default value from 1200 -> 3600.

[code]

[2022-04-05 16:05] Zvikan commented on #353
Sorry for replying late to this.
As Naris mentioned, currently our examples are a single TF apply and destroy approach, the problem with it is that other modules and resources may be deleted (e.g. VPC resources), this may lead to addons not being deleted properly and reporting back with timeouts/deadline exceeded.

The ideal destroy order would be:
1. k8s Addons
2.  k8s managed addons (e.g. VPC CN

[2022-04-05 22:47] kcoleman731 opened #386 "[Announcement]: Repo move and name change"
Hi Folks - in the coming days we will be moving this repository under the [aws-ia](https://github.com/aws-ia) Github organization and changing the project/repo name. The new name for the project is *EKS Blueprints for Terraform* and the new, permanent repo location will be [aws-ia/terraform-aws-eks-blueprints](https://github.com/aws-ia/terraform-aws-eks-blueprints).

**What does this mean for me?*

[2022-04-06 16:44] Xkynar commented on #328
@askulkarni2 I was also having this same issue and your code does add the security group but the InstanceGroup fails to join the cluster (the instance does join though). After searching around, I found [this comment ](https://github.com/awslabs/amazon-eks-ami/issues/719#issuecomment-896127079) showing a faulty behavior when image_id is not defined:

Changing:
`ami_type        = "AL2_x86_64"`
to
[c

[2022-04-07 17:38] askulkarni2 commented on #382
@greengangsta this will be a great addon to have. Please feel free to submit a PR for the addon along with a complete example documenting the use case.

[2022-04-07 17:49] askulkarni2 commented on #328
@Xkynar thanks so much for reporting this and for the suggested fix as well. @schwichti please give this a try when you get a chance and we will try this as well and document this.

[2022-04-08 17:10] tanvp112 opened #394 "Run coreDNS on Fargate"
#### Is your feature request related to a problem? Please describe

Currently, to run coreDNS on Fargate after the EKS cluster is created, a manual call to patch the coredns deployment is needed to remove an annotation (eks.amazonaws.com~1compute-type).

#### Describe the solution you'd like

Is it possible to configure/change coreDNS deployment _not_ to have the annotation at the [default_addon_c

[2022-04-08 19:01] redeux commented on #394
Does the new `kubernetes_annotations` resource solve this use case for you?

https://registry.terraform.io/providers/hashicorp/kubernetes/latest/docs/resources/annotations

[2022-04-08 19:34] bryantbiggs commented on #394
@redeux I don't think so. I'm trying this out now and I can modify the deployments annotations for CoreDNS, but what I need to modify are is the deployments `spec.template.metadata.annotations`.

This is the kubectl command equivalent that I don't know how to convert into something the kubernetes annotations resource would understand:

[code]

[2022-04-08 22:09] #386 closed

[2022-04-11 15:31] joaoferreira1985 opened #399 "[QUESTION] Call module kubernetes-addons source"
#### Please describe your question here
I would like to use this module but I'm wondering what is the public official  module without blueprints?
The source of the module should point to github?

[code]

#### More

- [X] Yes, I have checked the repo for existing issues before raising this question

[2022-04-11 16:32] askulkarni2 commented on #399
Hi @joaoferreira1985, thank you for the question. That's exactly right. I recommend pinning the source to a release tag such as shown below.

`source = "github.com/aws-ia/terraform-aws-eks-blueprints//modules/kubernetes-addons?ref=v4.0.1"`

[2022-04-11 16:38] joaopcferreira commented on #399
Thanks

[2022-04-11 23:48] askulkarni2 commented on #399
I will close this issue for now. Please don't hesitate to reach out if you have any more questions/issues. Thanks!

[2022-04-11 23:48] #399 closed

[2022-04-13 08:59] dil-sthaens opened #404 "[QUESTION] service of type LoadBalancer wont get an external IP"
#### Please describe your quesiton here
Hello,

I am working with the examples/eks-cluster-with-new-vpc terraform deployment to get used to EKS and Terraform and test how it works and how you can deploy a production plattform into EKS.
Our application usually is deployed by using a gitops workflow (fluxcd) and that is working well. Our application has a ingress controller which is configured as se

[2022-04-13 11:05] vara-bonthu opened #405 "[FEATURE] Add Semantic release automation with Github workflow"
#### Is your feature request related to a problem? Please describe
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

- Currently the EKS Blueprints releases are manual . This feature allows to automate the releases weekly
Check this out https://github.com/marketplace/actions/action-for-semantic-release
#### Describe the solution you'd like
A clear and co

[2022-04-13 14:16] dil-sthaens commented on #404
The example service also throws this

[code]

I searched for this error and checked the tags of the subnets, they are fine.

[2022-04-13 16:59] spkane opened #408 "[FEATURE] Add a variable which can contain a list of IAM ARNs to be appended to the KMS Key administrators list"
#### Is your feature request related to a problem? Please describe

There are situations that might cause a KMS key to become unmanageable. Because of this, it would be really useful to allow users to pass in some additional IAM ARNs which have full access to the key and policy for emergencies. This could be a special group of key administrators, SSO users, or whatever it is that they want.

[code

[2022-04-13 17:02] spkane commented on #408
I can contribute a PR, if this is of interest.

[2022-04-13 22:23] askulkarni2 commented on #408
@spkane this would be a great add. Please feel free to contribute the PR.

[2022-04-15 02:52] ZeroDeth opened #416 "[FEATURE] Granting access to AWS SSO Users. Terraform Cloud/Enterprise"
#### Is your feature request related to a problem? Please describe
I'm looking for a way to use the kubernetes provider to update aws-auth.

Normally, when a EKS Cluster is created and only the users who has access to the Cluster can view information in the EKS Console. But if we provide default Kubernetes “View” cluster role, it will not provide the visibility to all the information that can be v

[2022-04-15 06:22] ZeroDeth commented on #416
mapping role of AFT (Account Factory Terraform) working fine, plus with using open PR [KMS - Additional key admins support #414](https://github.com/aws-ia/terraform-aws-eks-blueprints/pull/414)

[code]

[2022-04-15 21:55] askulkarni2 commented on #416
Hi @ZeroDeth #414 has been merged.

We have support for patching `aws-auth` Configmap. Please see https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/main/docs/node-groups.md#additional-iam-roles-users-and-accounts.

Additionally I would also recommend leveraging our [Teams](https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/main/docs/teams.md) feature which lets you configure a `

[2022-04-15 22:00] #408 closed

[2022-04-15 23:08] ZeroDeth commented on #416
Awesome. Thanks @askulkarni2

[2022-04-15 23:16] #416 closed

[2022-04-16 01:02] ZeroDeth opened #417 "[Bug]: Failed to query available provider packages"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

latest

### What is your environment, configuration and the example used?

Terraform version = 1.1.8

### What did you do and What did you see instead?

The latest merge through tha

[2022-04-16 03:59] ruzickap commented on #373
This seems to be similar to #232

[2022-04-16 13:29] vara-bonthu commented on #417
Hi @ZeroDeth

I have just tried running Terraform init and plan with Terraform Version 1.1.8 on the main branch and it works fine for me.

You may need to provide full example and the command you tried along with the logs. Have you done any further changes to the example you tried?

[2022-04-16 13:29] vara-bonthu commented on #417
Hi @ZeroDeth

I have just tried running Terraform init and plan with Terraform Version 1.1.8 on the main branch and it works fine for me.

You may need to provide full example and the command you tried along with the logs. Have you done any further changes to the example you tried?

[2022-04-16 19:31] ZeroDeth commented on #417
Hi @vara-bonthu

Working now after downgrade `terraform-aws-s3-bucket` https://github.com/terraform-aws-modules/terraform-aws-s3-bucket/pull/149

Apologies and Thank you!

[2022-04-16 19:31] #417 closed

[2022-04-17 16:28] danvau7 opened #420 "[Bug]: OIDC_ISSUER_URL does not return full URL"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

v4.0.2

### What is your environment, configuration and the example used?

N/A

### What did you do and What did you see instead?

Receive the full OIDC URL but without the http pre

[2022-04-17 16:29] evairmarinho commented on #373
@ruzickap, its not a example. But we can gather all the needs in one issue just to make it easier. If we centralize, then this issue can be closed.

[2022-04-18 19:24] bryantbiggs commented on #420
@danvau7 are you able to use the `oidc_provider` which does not include the `https://` prefix

[2022-04-19 13:30] ZeroDeth opened #423 "[Bug]: Provider produced inconsistent final plan"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

latest

### What is your environment, configuration and the example used?

Terraform version = 1.1.8

### What did you do and What did you see instead?

First time provisioning gett

[2022-04-19 21:42] spkane opened #428 "[Bug]: Launch template error causing EC2 nodes to fail joining the node group properly"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

34921232356fb69b5a41094246d488c37c596d97

### What is your environment, configuration and the example used?

- Terraform 1.1.7

[code]

### What did you do and What did you see inst

[2022-04-19 21:43] spkane commented on #428
We are digging into the terraform modules to track the logic and figure out where the issue is, but any insight would be helpful, as it took us a while to determine that this is the underlying issue.

[2022-04-19 23:46] spkane commented on #428
I'm stumped for the moment...

[2022-04-20 00:44] kcoleman731 opened #429 "[TEST] - Add Terratest Suite"
This story covers the following
Status

- [x] Terratest code is ready to plan and apply the E2E test (EKS Cluster with new vpc example)
- [x] Validate deployed VPC and EKS Cluster name and Managed node groups
- [x] Validate deployed Add-ons
- [ ] Makefile for executing the Terratest E2E test
- [x] Github workflow for Terratest E2E test

Note:
- Terratest E2E test which replaces existing E2E test w

[2022-04-20 00:55] kcoleman731 opened #430 "[DOCS] - Cluster Upgrade Guide"
Add documentation which details how to upgrade EKS clusters using EKS Blueprints.

[2022-04-20 00:55] kcoleman731 opened #431 "[UPGRADE] - EKS 1.22"
Add support for Kubernetes v1.22

[2022-04-20 00:56] kcoleman731 opened #432 "[ADDON] - Flux"
Add support for Flux as an add-on

https://github.com/aws-ia/terraform-aws-eks-blueprints/projects/1#card-80854259

[2022-04-20 00:58] kcoleman731 opened #433 "[BLUEPRINT] - External IDP for SSO"
Add a blueprint which demonstrates how to leverage and external identity provider (IDP) to govern cluster access with EKS Blueprints.

[2022-04-20 00:59] kcoleman731 opened #434 "[ADDON] - OPA"
Add support for Open Policy Agent as an add-on.

[2022-04-20 01:00] kcoleman731 opened #435 "[ADDON] - AWS Secrets Manager"
Add support for AWS Secrets Manager and Secrets Store CSI Driver

https://secrets-store-csi-driver.sigs.k8s.io/

[2022-04-20 01:00] kcoleman731 opened #436 "[ADDON] - Calico"
Add support for Calico as an add-on.

https://projectcalico.docs.tigera.io/getting-started/kubernetes/helm

[2022-04-20 01:01] kcoleman731 opened #437 "[ADDON] - AppMesh"
Add support for AppMesh as an add-on.

https://github.com/aws/eks-charts#app-mesh

[2022-04-20 01:03] kcoleman731 opened #438 "[BLUEPRINT] - Open Telemetry"
Add support for Open Telemetry as an add-on.

[2022-04-20 01:03] kcoleman731 opened #439 "[ADDON] - Cilium"
New addon for [Cilium CNI](https://docs.cilium.io/en/stable/gettingstarted/k8s-install-helm/)

[2022-04-20 01:03] kcoleman731 opened #440 "[ADDON] - Backstage"

[2022-04-20 01:03] kcoleman731 opened #441 "[BLUEPRINT] - MWAA Workflow"

[2022-04-20 01:04] kcoleman731 opened #442 "[ADDON] - FSX CSI Driver"

[2022-04-20 01:04] kcoleman731 opened #443 "[ADDON] - Consul"

[2022-04-20 01:04] kcoleman731 opened #444 "[BLUEPRINT] - Native AWS Pipleines"
Blueprint for NAWS (ifkyk)

[2022-04-20 01:05] kcoleman731 opened #445 "[CONTENT] - EKS Blueprints for Terraform workshop"
Create the EKS Blueprints for Terraform workshop. This will be a self-serve artifact that educated customers on how to use EKS Blueprints and the breadth of functionality that it provides.

[2022-04-20 01:06] kcoleman731 opened #446 "[FEATURE] Managed Node groups to use Launch template module"

[2022-04-20 01:06] kcoleman731 opened #447 "[ADDON] - CloudWatch Metrics"
Add cloudwatch metrics as an add-on.

[2022-04-20 04:32] askulkarni2 commented on #428
Hi @spkane! I am going to try and reproduce the issue using the example and get back to you. We definitely don't see the double node group issue in our testing.

[2022-04-20 04:54] askulkarni2 commented on #423
Hi @ZeroDeth can you please provide an example for us to be able to reproduce the issue?

[2022-04-20 05:36] askulkarni2 commented on #428
@spkane I am able to reproduce the issues you are reporting. We will debug the root cause and have a fix prepared.

[2022-04-20 06:11] askulkarni2 commented on #428
I've traced the EC2 node failure to join the cluster issue to https://github.com/awslabs/amazon-eks-ami/pull/893. I see this in the `/var/log/cloud-init-out.log` on the instance.

[code]

Also looks like @vara-bonthu already hit this [issue](https://github.com/awslabs/amazon-eks-ami/pull/893#issuecomment-1100063829) as well. We will keep you posted but you can also follow the issue by adding your

[2022-04-20 06:38] askulkarni2 commented on #428
After rerunning the cloud-init my node seems fine, although EKS is still reporting the node group failed to join.

[code]

[2022-04-20 11:56] spkane commented on #428
@askulkarni2 Thank you for looking into this. I am really glad to know that this isn't just me.

A few things:

- The problem with the node group never showing up as healthy, once the initial failure occurs, is a know AWS issue that is on their roadmap. We should all +1 it.
  - https://github.com/aws/containers-roadmap/issues/764

- I am having trouble tracing the blueprints terraform code and eve

[2022-04-20 12:03] spkane commented on #428
I think the most useful next step would be to understand:

- How is this template being pulled in? https://github.com/terraform-aws-modules/terraform-aws-eks/blob/master/templates/linux_user_data.tpl
- And in that template, why is `enable_bootstrap_user_data` true, when it defaults to false and doesn't appear to be set anywhere.

[2022-04-20 12:23] spkane commented on #428
Making some progress. Creating a minimal managed node group with this definition works fine:

[code]

and results in this single launch template:

![CleanShot 2022-04-20 at 05 19 24](https://user-images.githubusercontent.com/129629/164228992-27a8dece-cd64-47c1-a941-c7b918762bf8.png)

with this contents:

[code]

which I am pretty sure is created by the upstream module's code.

[2022-04-20 12:39] spkane commented on #428
Changing the managed node group to this:

[code]

results in two launch templates and now things are broken:

![CleanShot 2022-04-20 at 05 38 15](https://user-images.githubusercontent.com/129629/164232167-510cbc15-aff4-4ac4-bc99-6946024fce91.png)

[2022-04-20 13:11] bryantbiggs commented on #428
Hi @spkane - hopefully I can help clarify a few details.

This module only uses the upstream terraform-aws-eks control plane - it does not use the upstream functionality for creating self managed node groups, EKS managed node groups, or fargate profiles.

The user data that this module users for EKS managed node groups can be found here https://github.com/aws-ia/terraform-aws-eks-blueprints/tree/m

[2022-04-20 13:30] spkane commented on #428
Thank you @bryantbiggs those details do help make the underlying decision tree clearer.

So, it appears that the merge is what is causing the issue.

One launch template looks like this:

[code]

and the other one that actually gets used looks like this:

[code]

Which now, actually makes me think that the fix is to modify this template (and maybe the other ones) in this blueprints repo to REMOVE

[2022-04-20 13:53] spkane commented on #428
This change in the template worked around my immediate issue.

https://github.com/spkane/terraform-aws-eks-blueprints/compare/main...mng-launch-templates

But I think that line is required when one is providing their own AMI, so there likely needs to be some logic to detect when someone passes in an AMI that determines which template to use.

[2022-04-20 16:16] spkane commented on #428
Thank you @vara-bonthu ! I really appreciate it. I could have pulled the PR together, but honestly, this took long enough to track down that I need to focus on my project's more immediate goal for a few days.

[2022-04-20 16:18] vara-bonthu commented on #428
I am running some final tests to ensure if it works for all scenarios. We will raise a PR soon.

[2022-04-20 19:50] spkane opened #449 "[Bug]: The time out in `data.http.eks_cluster_readiness` is too short under some circumstances"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

34921232356fb69b5a41094246d488c37c596d97

### What is your environment, configuration and the example used?

Terraform v1.1.7

### What did you do and What did you see instead?

The

[2022-04-20 20:13] dcarbone commented on #333
A counter point to that: allow the name to be configured via a variable.

64 characters is very limiting, especially when the individual values of the composite can, themselves, be > 30 characters each.  I am running into a scenario where the `eks_cluster_id` value can upwards of 50 characters in length which, when the manually defined suffixes are appended, blows way past the 64 character limit.

[2022-04-21 09:10] a-patel opened #451 "[DOCS] - Multi-Region Cluster Example"
Add documentation that details how to create EKS clusters in multiple regions using EKS Blueprints.

[2022-04-21 09:12] a-patel opened #452 "[ADDON] - Istio Service Mesh"
Add support for Istio Service Mesh as an add-on.

[2022-04-21 09:21] a-patel opened #453 "[ADDON] - Grafana Agent"
Add support for Grafana (and managed Grafana services like Amazon Managed Grafana and Azure Managed Grafana) as an add-on.

[2022-04-21 09:22] a-patel opened #454 "[ADDON] - Grafana Loki"
Add support for Grafana Loki as an add-on.

[2022-04-21 11:26] ddiawara opened #455 "[Bug]: KMS Key: MalformedPolicyDocumentException"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

Terraform 1.1.5

### What is your environment, configuration and the example used?

Main.tf
[code]

### What did you do and What did you see instead?

when i export policy in json f

[2022-04-21 12:25] vara-bonthu commented on #373
Could you please try this PR @evairmarinho and let me know for any issues?

KMS Key ID can be provided through block_device_mappings with the new PR. See the PR docs more details

[code]

[2022-04-21 13:55] wsarwari-amzn commented on #455
@ddiawara Thanks for the details on this bug. I have question, did you copy the KMS policy and pasted in the IAM policy generator JSON tab, and that's how you see those invalid principal error messages? Or did you get that error during provisioning or another action?

[2022-04-21 17:34] ruzickap commented on #373
It would be handy to include the example code for using KMS in https://github.com/aws-ia/terraform-aws-eks-blueprints/pull/456 showing the way how to create + use KMS (like the old attempt here: #247)
Setting up the KMS, IAM policy + EKS integration may not be easy...

[2022-04-21 18:07] rothgar commented on #436
This would be great to have. Getting some additional requests looking for this example as well.

[2022-04-21 21:17] spkane opened #460 "[FEATURE] `aws-for-fluentbit` - Make it possible to pass in additional ARNs that should have `kms:*` in the key policy."
#### Is your feature request related to a problem? Please describe

Managing KMS keys is tricky and various missteps can cause Keys to become unmanageable. All KMS key policies should at a minimum make it easy to pass in a list of ARNs that have full KMS access.

Even better, would be some flexibility to add a list of ARNs to each section.

Something that basically works like this recent PR into t

[2022-04-22 09:35] ZeroDeth commented on #423
Error
[code]
eks addons
[code]

[2022-04-22 12:40] ddiawara commented on #455
i have error during provisonning,
I generated and copied it in order to debug and understand the problem

[2022-04-22 12:57] wsarwari-amzn commented on #455
@ddiawara Which example were you provisioning and did you modify any of its input variables before provisioning?

[2022-04-22 17:56] marciogmorales opened #461 "[ADDON] Windows node support"
#### Is your feature request related to a problem? Please describe
No.

#### Describe the solution you'd like
Adding Windows worker node as a Self-Managed add-on.

#### Describe alternatives you've considered
No alternatives.

#### Additional context
Having a Self-Managed add-on such as:

[code]

To enable Windows Support a ConfigMap is needed to be added to the cluster: (VPC-Resource-Controller-C

[2022-04-22 18:32] askulkarni2 commented on #461
Hi @marciogmorales did you intend to open this feature request for [cdk-eks-blueprints](https://github.com/aws-quickstart/cdk-eks-blueprints)?

[2022-04-22 18:33] estebane-frb opened #462 "unable to execute TLS connection towards oidc.eks"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

v4.0.2

### What is your environment, configuration and the example used?

Terraform version: 1.1.9
Example Used: eks-cluster-with-new-vpc (from Getting started section in https://a

[2022-04-22 19:28] danvau7 commented on #455
Getting the exact same error. AWS last updated this document March 22nd, 2022, so my guess is something unrelated to Terraform (at least originally) is causing the issue: https://aws.amazon.com/premiumsupport/knowledge-center/kms-policy-error-invalid-principals/

[2022-04-22 21:46] marciogmorales commented on #461
Yes,
Let me open over there too.

[2022-04-22 22:29] evairmarinho commented on #373
@ruzickap and @vara-bonthu
Can I close the issue? Seeing the PR, what I asked for is already being added.

[2022-04-22 23:08] evairmarinho commented on #449
I think it would be more practical if `timeout` value were a variable with a default value defined.

[2022-04-22 23:21] spkane commented on #449
Sure, putting it into a variable AND increasing the default would be a good fix. The primary point was that the timeout is currently too low for certain normal situations, so at a minimum, it needs to be increased, as this time this takes is outside the user's control and is happening behind the scenes.

[2022-04-23 00:06] spkane opened #463 "[Bug]: the `kubernetes-dashboard` add-on does not install on EKS 1.22 due to the use of a deprecated API in the add-on ClusterRoleBinding manifest"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

b376059f695e33260dc4be7aedfdc5fe8d1d289d

### What is your environment, configuration and the example used?

[code]

### What did you do and What did you see instead?

This manifest

[2022-04-23 12:22] armenr opened #464 "[Bug]: Issues with Addons: kube-state-metrics, aws-cloudwatch-metrics, node-termination-handler"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

v4.0.2

### What is your environment, configuration and the example used?

Terraform v1.1.9 on darwin_arm64

### My Addons Module

[code]

### What did you do and What did you see i

[2022-04-23 12:25] ddiawara commented on #455
this : https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/main/examples/eks-cluster-with-new-vpc/main.tf

[2022-04-23 12:36] ddiawara commented on #455
maybe its requirement issue i use version 4 provider aws

[2022-04-23 13:29] bryantbiggs commented on #437
IRSA role support for both controller and sidecar proxy https://github.com/terraform-aws-modules/terraform-aws-iam/pull/231 recently added

[2022-04-23 13:47] #373 closed

[2022-04-23 13:47] #428 closed

[2022-04-23 14:15] vara-bonthu commented on #464
Thanks for reporting the issue @armenr

1> `enable_aws_node_termination_handler = true` is not showing any effect due to the condition below. It's expecting additional input from `auto_scaling_group_names` from self-managed node groups. I think we can handle this better.

@askulkarni2 I think we can change the below condition to `||` so that users can just use aws_node_termination_handler if they

[2022-04-23 14:27] vara-bonthu commented on #463
@spkane Thanks for reporting the issue. We are yet to prove this module for EKS 1.22 with all the Add-ons. Few API versions have been removed in K8s 1.22 https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/. Some of these APIs now use `v1` instead of `v1beta1`.

We will apply a quick using cluster_version.

[2022-04-23 15:14] vara-bonthu commented on #455
@ddiawara Are you deploying this example using an IAM role or an IAM user? Error could be that this kms policy allows only IAM roles.

[2022-04-23 19:17] ddiawara commented on #455
by iam roles
AWS_PROFILE=start

[profile start]
    role_arn = arn:aws:iam::8xxxxxxxxxx4:role/devops
    source_profile = default

[2022-04-24 04:03] armenr commented on #464
@vara-bonthu - Thank you for the update! I'm not sure if I'm introducing scope creep, but I did discover an additional issue with Karpenter.

https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/main/modules/kubernetes-addons/karpenter/data.tf

^^ This needs to be updated to reflect the permissions included in the Karpenter Getting Started (https://karpenter.sh/v0.8.2/getting-started/gettin

[2022-04-24 16:11] evairmarinho commented on #373
Thanks!

[2022-04-24 16:36] ZeroDeth opened #466 "[Bug]: Error from server (ServiceUnavailable): the server is currently unable to handle the request (get nodes.metrics.k8s.io)"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

latest

### What is your environment, configuration and the example used?

Running any of examples and enable metrics-server

### What did you do and What did you see instead?

####

[2022-04-25 08:41] magnusseptim opened #467 "[QUESTION] Is it possible to use SSO roles for platform_teams of Teams module"
Hi

#### Please describe your quesiton here

Example from here : https://github.com/aws-ia/terraform-aws-eks-blueprints/tree/main/modules/aws-eks-teams suggest that it is perfectly possible for application_teams to use SSO roles, but is it as well for platform_teams ?

My own attempts failed, but I'm not sure if this is due to the fact that it is just not possible (mean, that should be feature req

[2022-04-25 10:19] vara-bonthu commented on #464
@armenr Happy for you to raise a separate issue for Karpenter that you described above. Provide the example that you used etc. We will take a look and provide feedback accordingly

[2022-04-25 11:21] cvlc opened #468 "[Bug]: Disk provisioning logic fails for managed node groups"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

v4.0.3 and main

### What is your environment, configuration and the example used?

Using the example from https://github.com/ondat/terraform-eksblueprints-ondat-addon/blob/main/blu

[2022-04-25 12:51] ZeroDeth commented on #466
ArgoCD HPA error from  `main & 4.0.3`

[code]

[2022-04-25 14:24] mijndert commented on #423
I have the same issue

[code]

[2022-04-25 14:26] monofone opened #469 "[QUESTION] Licence MIT-0 vs. Apache 2.0"
#### Which licence is now used for this repository ?

The Readme.md states that MIT-0 is used as licence but the referenced file contains the Apache 2.0 Licence

#### Provide link to the example related to the question
https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/main/README.md#license
vs.
https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/main/LICENSE

#### More

- [x] Yes

[2022-04-25 14:32] FernandoMiguel commented on #423
are you using default_tags in the aws provider?
there's a known issue with that and some resources, like SGs.

[2022-04-25 15:02] wsarwari-amzn commented on #455
That's good to know. I'll try it this way too and see how it goes.

[2022-04-25 16:35] spkane commented on #463
Exactly.

In this particular case, it appears to be the additional manifest that is added for the `ClusterRoleBinding` which is the problem, although there could be more issues in the helm release as well if it is significantly behind upstream.

[2022-04-25 21:40] wsarwari-amzn commented on #455
@ddiawara I used your setup and it worked for me. The only line of code that could cause an issue is line [91](https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/093574f79a50413b961376d9ec0310bda6b514b9/data.tf#L91) of the data.tf file.

If you want to try, you can modify that line by removing "data.aws_iam_session_context.current.issuer_arn" and adding  "arn:aws:iam::YOUR-ACCT-NUMBER:rol

[2022-04-25 22:12] ZeroDeth commented on #466
Useful info: https://keda.sh/docs/2.6/troubleshooting/

### Why is Kubernetes unable to get metrics from KEDA?
If while setting up KEDA, you get an error: `(v1beta1.external.metrics.k8s.io) status FailedDiscoveryCheck with a message: no response from https://ip:443: Get https://ip:443: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)`

### Wh

[2022-04-25 23:13] bryantbiggs commented on #461
this support is already provided today https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/34921232356fb69b5a41094246d488c37c596d97/main.tf#L129

[2022-04-25 23:13] #461 closed

[2022-04-26 05:53] askulkarni2 commented on #468
@vara-bonthu looks like we need to add a check to see if partitions already exist?

[2022-04-26 06:08] askulkarni2 commented on #467
@magnusseptim I will try this on my end but can you check if the role arn seems off in the error message you show. Its missing the complete role_path.

`arn:aws:iam::XXXXXXXXXXXX:role/aws-reserved/sso.amazonaws.com/us-west-2/AWSReservedSSO_AWSAdministratorAccess_b3b4e6f90b7caa47`

[2022-04-26 06:57] vara-bonthu commented on #468
NVMe disk partition and mounting is requested by few users for managed node groups hence we added. This is already an existing feature for Self Managed Linux and Windows node groups.

@cvlc Could you please try running your example by removing the `for` block from the below user data and confirm if that works ok?

https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/093574f79a50413b961376d9

[2022-04-26 08:54] magnusseptim commented on #467
@askulkarni2 Thanks for checking.

Region should be set on provider level (I forgot to add it in example).
And path prefix is in data.

Also terraform init output suggested that this is how it ends in aws_auth :

[code]

I can also confirm that this is in fact how aws_auth looks like and it is working -> mean I'm able to fetch informations about EKS by using that user.

So, unless you will explici

[2022-04-26 09:53] tomarrell opened #473 "[Bug]: Issue initialising ArgoCD haproxy: layer7 timeout"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

4.0.2

### What is your environment, configuration and the example used?

Terraform Version: `1.1.7`

`main.tf`

[code]
 As you can see, the cluster is setup to support IPv6 network

[2022-04-26 10:21] cvlc commented on #468
Hey @vara-bonthu - I can confirm that it works just fine when removing lines 14-27 in the file you linked!

[2022-04-26 13:41] tomarrell commented on #473
As a temporary workaround, I have disabled Redis HA.

`argocd-values.yaml`
[code]

[2022-04-26 14:36] sheetaljoshi opened #474 "[FEATURE] Support custom networking"
#### Is your feature request related to a problem? Please describe
There are a limited number of IP addresses available in a subnet. This might limit the number of pods that can be created in the cluster. Using different subnets for pods allows you to increase the number of available IP addresses. This feature is called as Custom networking in EKS. Custom networking configuration seems to be a com

[2022-04-26 14:42] sheetaljoshi commented on #474
We might hit the same issues as mentioned on below link, so careful attention must be paid.

https://github.com/terraform-aws-modules/terraform-aws-eks/issues/870

[2022-04-26 16:05] danvau7 commented on #455
Was deploying with an IAM user FYI. Will try this suggestion out.

[2022-04-26 16:21] kumarpmd opened #475 "[FEATURE] externalize cluster_iam_role"
#### Is your feature request related to a problem? Please describe
terraform-aws-eks module is currently used to provision cluster with pre-created iam_roles.
aws-ia/terraform-aws-eks-blueprints seems to always create cluster_iam_role, with name derived from tags.
https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/main/locals.tf#L154
can we have the module use pre-created cluster-iam-role

[2022-04-26 17:35] kumarpmd opened #476 "[FEATURE] externalize worker iam role and profile"
#### Is your feature request related to a problem? Please describe
terraform-aws-eks module is currently used to provision cluster, with pre-created iam_roles.
aws-ia/terraform-aws-eks-blueprints seems to always create node instance role and instance profile, with name derived from cluster and supplied name.
   https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/main/modules/aws-eks-self-m

[2022-04-26 20:44] danvau7 commented on #455
This seems to be it. If you are deploying from an IAM User, you are going to run into a KMS issue. Make sure you are assuming a role.

[2022-04-26 20:45] joebowbeer opened #478 "[ADDON] Linkerd (SMI)"
Add support for Linkerd as an add-on for mTLS and traffic shaping.

#### Additional context

Eventually this should be possible via generic support for Service Mesh Interface (SMI) implementations, but I'm not sure about the timing.

* https://github.com/servicemeshinterface/smi-spec
* https://smi-spec.io/

[2022-04-26 20:55] joebowbeer opened #479 "[QUESTION] How to enable traffic-shaping for Argo Rollouts?"
#### Please describe your [NAIVE] question here

In the Argo Rollouts example(s), is any kind of traffic shaping configured?

I know that Argo Rollouts can integrate with ingress and service mesh, incl. SMI, for traffic shaping in progress delivery, but I don't see if or how this is accomplished in the example.

Can you point me where to look?

#### Provide link to the example related to the quest

[2022-04-26 21:23] ddiawara commented on #455
Its work when i run it with my IAM user

[2022-04-26 21:23] #455 closed

[2022-04-26 21:28] vara-bonthu commented on #455
This module won't allow users to deploy the cluster using IAM user. It has to be an IAM Role.

Glad it's sorted👍

[2022-04-27 09:23] vara-bonthu opened #480 "[FEATURE] MLflow Add-on support for EKS Blueprints for Analytics"
#### Is your feature request related to a problem? Please describe
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

- This Add-on and example patterns helps customers who would like to use **MLFlow on EKS** . This will extend the support for EKS Blueprints in Data Analytics and ML areas

#### Describe the solution you'd like
A clear and concise descript

[2022-04-27 09:24] vara-bonthu opened #481 "[ADDON] KubeFlow Add-on support for EKS Blueprints"
#### Is your feature request related to a problem? Please describe
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

- This Add-on and example patterns helps customers who would like to use **KubeFlow on EKS** . This will extend the support for EKS Blueprints in Data Analytics and ML areas
-
#### Describe the solution you'd like
A clear and concise descr

[2022-04-27 09:28] vara-bonthu opened #482 "[FEATURE] Volcano Batch Scheduler Add-on support for EKS Blueprints"
#### Is your feature request related to a problem? Please describe
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

- Volcano is popular batch scheduler for Kubernetes. This Feature provides options for customers to deploy Volcano with EKS Blueprints.

- Examples will be provided to show the users on how this Add-on can be used with sample Spark scripts

[2022-04-27 09:55] christianhxc opened #483 "[FEATURE] Provide examples to launch clusters with EC2 Spot Instances"
#### Is your feature request related to a problem? Please describe
There are no explicit examples on how to create clusters using EC2 Spot Instances.

#### Describe the solution you'd like
A set of examples with Spot instances when using managed node groups, self-managed node groups, and Karpenter.

#### Describe alternatives you've considered
N/A

#### Additional context
I'm working on creating t

[2022-04-27 15:47] askulkarni2 commented on #483
Hi @christianhxc, these would be great!

[2022-04-27 16:50] vrodriguezcl opened #485 "[QUESTION] Cannot Delete KMS after Creation with Terraform"
#### Please describe your question here:

Recently I was playing with this project, and after the cluster creation, everything was Ok. But, in the time to destroy the created infrastructure using Terraform, one resource specifically cannot be deleted. And I tried many times to delete it an I cannot, I got this error when I tried to delete it from the AWS Web Console, and using **awscli** I cannot

[2022-04-27 17:58] joebowbeer commented on #479
I see. There is a separation between installing Rollouts, for which there is tf in this repo, and configuring a Rollout, for which there are many examples in the Argo Rollouts repo.

In Argo Rollouts, I see examples for alb, ambassador, appMesh, istio, nginx (ingress controller), and smi (including Linkerd).

I'd like to see support in this repo for installing more of the ingresses and service mes

[2022-04-27 17:58] #479 closed

[2022-04-27 19:03] spkane commented on #485
You have to look at the key policy. By default only two roles are allowed to delete the KMS aliases or keys (have `kms:*`). KMS keys are very sensitive and highly protected.

If you delete those roles by hand, etc. it is possible to make a KMS key unmanageable, in which case you will need help from AWS support.

https://docs.aws.amazon.com/kms/latest/developerguide/key-policy-default.html

This is

[2022-04-27 19:29] vrodriguezcl commented on #485
I did not delete any policy manually. I have used earlier terraform destroy and after that it come this issue. And after that, I cannot use terraform apply. :( :(

[2022-04-27 22:26] spkane commented on #485
It is deleting `roles` by hand that usually causes this issue. Strickly using terraform should do the right thing, however, if you take a look at the KMS key policy (in the console) and you don't see any valid roles listed in there with `kms:*` access, then you will have to create an AWS support ticket and jump through a week or so of hoops to get it fixed.

The safeguard for this in the future is

[2022-04-28 02:08] vrodriguezcl commented on #485
Oks, thanks for your quick response. Sorry, but, can you please show me how can I do this ?.

Also, this KMS module is really needed for EKS cluster creation ?

[2022-04-28 08:38] tsunamaru opened #487 "[Bug]: Issues with provisioning EKS addons: aws-ebs-csi-driver and coredns"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

v4.0.3

### What is your environment, configuration and the example used?

Terraform 1.1.8
Plan: https://gist.github.com/tsunamaru/c2e1bb74bab0846e52cd2382a25b64df

### What did you

[2022-04-28 10:53] tsunamaru commented on #487
Just discovered that I forgot add `depends_on = [module.eks-cluster-flc.managed_node_groups]` to add-ons module.
I'll re-deploy it later and close this ticket if it resolves my issue.

[2022-04-28 10:59] atali commented on #432
is it possible to add the same behavour as argocd with the flag [argocd_manage_add_ons](https://github.com/aws-ia/terraform-aws-eks-blueprints/tree/main/modules/kubernetes-addons#input_argocd_manage_add_ons)

[2022-04-28 11:29] bryantbiggs commented on #467
Roles added to the aws-auth configmap (i.e. - `map_roles`) will face a longstanding issue with IAM paths - https://github.com/kubernetes-sigs/aws-iam-authenticator/issues/268

Whereas the `platform_teams`, the `users` are assuming a role that the `teams` module [creates](https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/abf986a91eb21319fceda9efcc3a386699df3e3d/modules/aws-eks-teams/main.

[2022-04-28 11:43] bryantbiggs commented on #466
hi @ZeroDeth - metrics-server requires some additional network access. Can you try adding the following to your configuration and confirm if this resolves your issue?

[code]

[2022-04-28 11:49] bryantbiggs commented on #420
closing for now but please feel free to let me know if this needs to be opened - the existing `oidc_provider` should suffice for this request

[2022-04-28 11:49] #420 closed

[2022-04-28 11:49] bryantbiggs commented on #354
awesome - thanks for confirming @camba1 and thanks for the fix @naris-silpakit 🎉

[2022-04-28 12:07] bryantbiggs commented on #429
I think we can close this now, correct @vara-bonthu , @kcoleman731 ?

[2022-04-28 12:08] bryantbiggs commented on #447
Closed in #427 - thanks @askulkarni2 🎉

[2022-04-28 12:08] #447 closed

[2022-04-28 12:10] bryantbiggs commented on #452
closing with current request supported

[2022-04-28 12:10] #452 closed

[2022-04-28 12:13] #328 closed

[2022-04-28 13:48] #487 closed

[2022-04-28 15:02] #429 closed

[2022-04-29 03:39] sbathgate commented on #333
For visibility, I just ran into this too. After getting everything else configured, I went to add the load-balancer only to discover I have ... 65 characters naturally. If the current format is to continue it would be great to add a check that the `eks_cluster_id` does not exceed the 25 characters or so limit that would block certain addons.

[2022-04-29 17:16] gobrial opened #488 "[Addon] Istio"
Add support for Istio as an add-on for mTLS, telemetry, traffic management and Blue green deployment.

https://istio.io/latest/docs/

[2022-04-29 17:29] joebowbeer commented on #488
Dup of #452 ?

[2022-04-29 21:34] bryantbiggs commented on #488
Istio is already offered via the Tetrate for Istio addon - see https://github.com/aws-ia/terraform-aws-eks-blueprints/issues/452#issuecomment-1105334175

[2022-04-29 21:34] #488 closed

[2022-04-29 21:37] #469 closed

[2022-04-29 21:55] askulkarni2 opened #491 "[BLUEPRINT+ADDON] - Ray"

[2022-05-01 14:51] bryantbiggs opened #493 "[BLUEPRINT]Replace `gitlab-ci-cd` with an example that shows self-hosted GitLab on EKS"
#### Describe the solution you'd like
- Replace https://github.com/aws-ia/terraform-aws-eks-blueprints/tree/main/examples/ci-cd/gitlab-ci-cd with an example that shows how to run self-hosted GitLab runners on EKS
	- Both EKS managed node groups and Fargate profiles since there are distinct differences in either route

The current example is not useful from a blueprint perspective - it currently ap

[2022-05-01 15:24] spkane commented on #485
KMS is required for this approach, but the upstream EKS module does not require KMS (it is a good idea, however). https://registry.terraform.io/modules/terraform-aws-modules/eks/aws/latest

We can't really show you how to do this. Only AWS support can help you fix this. Contact them and they can walk you through getting access to the key, if you have no more valid roles attached to the key policy.

[2022-05-01 15:30] spkane opened #494 "[FEATURE] Add some easy to see cautionary notes and helpful hints around KMS usage in the README & examples"
#### Is your feature request related to a problem? Please describe

After helping out with this https://github.com/aws-ia/terraform-aws-eks-blueprints/issues/485 and having had a similar issue early on here https://github.com/aws-ia/terraform-aws-eks-blueprints/pull/414

It might be good to make sure that people using this module are aware of the basics of KMS and how they can protect themselves f

[2022-05-02 12:43] bryantbiggs commented on #494
Thank you for creating this - I agree, theres a bit of work to do around KMS; possibly even externalizing it and instead showing example usage from an `example/` rather than create within the root module.

[2022-05-02 15:27] agido-heppe commented on #431
For me, KubeProxy, AWS Load Balancer Controller and EBS CSI Driver didn't work out of the box.

Following adjustments to the charts fixed this for me in EKS v1.22.

[code]

[2022-05-02 19:20] bryantbiggs opened #495 "Getting started guide - how to contribute an addon"
Provide documentation to help guide users on how to contribute an addon to avoid PR feedback churn. Some things we should look at including are:
- What are the common pieces required for an addon (i.e. - add chart to addon chart repo first)
- What is the standard "structure" (`main.tf`, `outputs.tf`, `variables.tf`, `versions.tf`, `README.md`) -> could probably create a template dir to copy+paste

[2022-05-02 21:34] skuriyadi opened #496 "IAM Role issue"
Hi,

I am getting below error when using latest version of your module, please advise.

 Error: Invalid for_each argument
│
│   on .terraform/modules/eks-cluster.aws_eks/main.tf line 250, in resource "aws_iam_role_policy_attachment" "this":
│  250:   for_each = local.create_iam_role ? toset(compact(distinct(concat([
│  251:     "${local.policy_arn_prefix}/AmazonEKSClusterPolicy",
│  252:     "${lo

[2022-05-03 01:00] askulkarni2 commented on #496
Hi @skuriyadi this error is documented [here](https://github.com/terraform-aws-modules/terraform-aws-eks/blob/master/docs/faq.md#i-received-an-error-error-invalid-for_each-argument-). As documented there, this is an issue in [Terraform Core](https://github.com/hashicorp/terraform/issues/4149).

If you remove the `depends_on` in your module definition like suggested this error should go away. On th

[2022-05-03 11:43] grid-dev commented on #496
@askulkarni2 As this code is coming from the module, what are you usually doing to circumvent it here? As removing the dependency seems not really a solution.

[2022-05-03 16:56] Tstrul-work commented on #474
Hey,
Is there some kind of workaround/example for using eks blueprints module with different subnet for pods?

[2022-05-03 18:15] spkane opened #498 "[QUESTION] Why is the namespace hardcoded in the prometheus addon (and maybe others)?"
#### Please describe your quesiton here

The namespace for the prometheus addon is hardcoded. Why is this?

I have spent a bit of time trying to change this, before realizing why I couldn't get it to change as expected.

#### Provide link to the example related to the question

https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/deec7d5caea47c06dea48fa616ad2c56e52c3cce/modules/kubernetes-a

[2022-05-03 20:49] bryantbiggs commented on #498
I can't answer the why but I think instead we should default to what the associated addon's helm chart provides while offering the users the ability to change to suite. Changing this from a question to an enhancement

[2022-05-03 20:54] spkane commented on #498
Agreed. I just wasn't sure if there was a reason for this, so I figured I'd start by asking.

[2022-05-03 20:57] skuriyadi commented on #496
@askulkarni2 , I will continue using the older version for now, I guess the solution which is provided will beat the purpose of creating a complete automated infra setup.
Thank you,
Shiva

[2022-05-03 21:02] bryantbiggs commented on #496
@skuriyadi can you share you current configuration?

[2022-05-03 21:05] skuriyadi commented on #496
Hi @bryantbiggs  I am using your module to create a EKS cluster with managed nodegroup and your addon module.
Sorry, I wont be able to share the configuration.

Thank you!

[2022-05-03 21:24] spkane opened #499 "[Bug]: Terraform and Helm fighting over `app.kubernetes.io/managed-by` tag with cluster-autoscaler (maybe others)"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

deec7d5caea47c06dea48fa616ad2c56e52c3cce

### What is your environment, configuration and the example used?

- Terraform version 1.1.7

I am installing the cluster-autoscaler like t

[2022-05-03 22:30] Zvikan commented on #473
Confirmed reproducible, may be related to https://github.com/argoproj/argo-helm/issues/1203 .

[2022-05-03 23:21] spkane opened #501 "[Bug]: The Github `Issue: Question` template has a typo"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

752d60b53d59f21015124badba2f4ab3b82baeeb

### What is your environment, configuration and the example used?

`question` is misspelled as `quesiton` in the Github template for **Issu

[2022-05-03 23:33] spkane opened #502 "[Bug]: It does not appear possible to refer to an IAM policy managed by the local terraform code in the `additional_iam_policies` list"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

deec7d5caea47c06dea48fa616ad2c56e52c3cce

### What is your environment, configuration and the example used?

Terraform v1.1.7

If I have the following `iam.tf` in the same codebase

[2022-05-04 07:11] grid-dev commented on #496
A bit unsatisfying, but thanks for your responses

[2022-05-04 11:17] ZeroDeth commented on #423
For a while issue disappeared but after adding SGs error return back, just run terrafrom twice and I am not using tags.

[2022-05-04 11:19] ZeroDeth commented on #466
Issue fixed by adding SGs. Thanks, @bryantbiggs

[2022-05-04 11:19] #466 closed

[2022-05-04 11:26] bryantbiggs commented on #502
Hi @spkane - the issue you are running into is a well known issue when a computed value is used as a key https://github.com/hashicorp/terraform/issues/30937

To get around this issue today, your policy should exist prior to provisioning the cluster/node groups

[2022-05-04 11:27] bryantbiggs commented on #496
there has been some recent movement on this issue so hopefully improvements in Terraform core are coming soon https://github.com/hashicorp/terraform/issues/30937

[2022-05-04 11:31] bala151187 opened #505 "Karpenter not working"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

4.0.3

### What is your environment, configuration and the example used?

I see new instance coming up and getting terminated as soon as it get spin up.
karpenter version - v0.9.0

[2022-05-04 13:21] AditModi commented on #430
Hi @kcoleman731 ,
can you briefly describe the things you would like to implement here. I would like to contribute here.
I see some documentation briefly describing the cluster upgrade scenario [here](https://aws-ia.github.io/terraform-aws-eks-blueprints/advanced/cluster-upgrades/).

[2022-05-04 14:51] bryantbiggs commented on #505
Hi @bala151187 - could you kindly describe your current setup and steps you took before you run into the issue? Are you using the example blueprint https://github.com/aws-ia/terraform-aws-eks-blueprints/tree/main/examples/karpenter ?

[2022-05-04 15:13] spkane commented on #502
Thanks @bryantbiggs . I was actually aware of the underlying terraform issue, but am glad to see that it is starting to get some movement. What I was really wondering, was whether the approach in this module to use a `for_each` loop was by design or necessity since this limitation has a pretty real impact on how these I am policies can be created and managed.

However, at this point, I am assuming

[2022-05-04 16:02] bryantbiggs commented on #505
Can you share your configuration @bala151187 so I can see what you have configured and try reproducting by provisioning

[2022-05-04 16:14] bala151187 commented on #505
[code]
[code]

[2022-05-04 16:28] wiseelf opened #507 "[QUESTION] aws-node-termination-handler SQS Queue"
#### Please describe your quesiton here
aws-node-termination-handler module creates SQS resource as well as cloudwatch event rules resources, and by default configured to work in Queue mode (it has `enableSqsTerminationDraining: true` in values.yaml). What is the reason of this?
I mean by default after creating it throws a lot of errors:
`2022/05/04 16:25:15 WRN There was a problem monitoring for

[2022-05-04 17:23] bryantbiggs commented on #502
Is it by design - yes. However, there is new guidance from Hashi that needs to be implemented (breaking change) - https://github.com/hashicorp/terraform/pull/30327

[2022-05-04 18:21] bryantbiggs commented on #505
Since you are using a mix of blueprints and other modules, the following works for me:

[code]

[2022-05-04 21:36] bala151187 commented on #505
thanks @bryantbiggs that was helpful .. I'm so close to make this work ..`Karpenter_Controller_Policy` is not having enough permission to launch instance .. if i attach `admin access` it works .. so not sure what modification is required for `Karpenter_Controller_Policy` .. is there any way you could tell me
this is wat the policy has got - https://github.com/terraform-aws-modules/terraform-aws-ia

[2022-05-04 21:50] askulkarni2 commented on #507
Hi @wiseelf, thanks for bringing this to our attention. This is a bug. You also raise a valid point about forcing Queue mode instead of letting users opt in. We will get this fixed.

[2022-05-04 21:52] #501 closed

[2022-05-04 23:12] Zvikan commented on #449
Thank you for reporting this, for short term, we can set the timeout value as variable with default increased to 10 minutes.
Long term, I hope we won't need this (`data.http.eks_cluster_readiness`) at all and the EKS endpoint would show `ACTIVE` only when it's really active.

Related PR: https://github.com/aws/containers-roadmap/issues/654

[2022-05-04 23:23] bryantbiggs commented on #505
@bala151187 does your provisioner  have this tag specified
[code]

[2022-05-05 03:15] bala151187 commented on #505
yes . it does

[code]

[2022-05-05 16:37] spkane opened #510 "[Bug]: Description is incorrect (copy/paste error) in `/outputs.tf` for `eks_cluster_status`"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

f50247cb791782745315d9073509f8c5d0928dff

### What is your environment, configuration and the example used?

https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/main/outputs

[2022-05-05 17:16] #449 closed

[2022-05-05 20:04] dex4er opened #512 "[FEATURE] Additional helm values for kubernetes-addons which won't delete the default"
#### Is your feature request related to a problem? Please describe
I can't just add additional values for helm. I have to replace the default valyes.yaml with full copy of all values.

Ie.

[code]

will remove settings from the default values.yaml like provider, zoneIdFilters and aws.region.

#### Describe the solution you'd like

I would like to see such pattern (example for externa-dns):

[code]

[2022-05-05 22:34] spkane opened #513 "[FEATURE] Support additional add-on application repos in ArgoCD"
#### Is your feature request related to a problem? Please describe
At the moment you can not create a second addon repo that can utilize the `enable_${addon_name}` switch the same way as the standard one identified with the `add_on_application  = true` argument. Using this on two argcd_applications does not work, and you can't pass in your custom helm values.

It appears like the primary reason th

[2022-05-06 03:09] bala151187 commented on #505
Adding these policies fixed the issue
[code]

[2022-05-06 04:42] mattduguid opened #514 "[Bug]: reader role not working as expected"
### Amazon EKS Blueprints Release version

4.0.4

### What is your environment, configuration and the example used?

terraform v1.1.4
kubernetes 1.21
example below,

[code]

### What did you do and What did you see instead?

The mapsRoles are previously set in the aws_auth configmap,
[code]

After running the module we get the standard outputs showing the kubectl commands to assume roles, we use t

[2022-05-06 05:13] vara-bonthu commented on #505
@bala151187 You can use this variable to pass additional policies to IRSA module. https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/ded4350705b0f26b2c2512eba17d5d4f709816eb/modules/kubernetes-addons/variables.tf#L575

with this example

https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/ded4350705b0f26b2c2512eba17d5d4f709816eb/examples/karpenter/main.tf#L197

[2022-05-06 05:29] vara-bonthu commented on #468
I am working on a PR which i will push soon

[2022-05-06 07:15] schwichti commented on #353
Sadly, I am also facing this issue:
[code]

[2022-05-06 07:23] schwichti commented on #423
Hi @FernandoMiguel . I have the same issue and I am using default_tags. Can you elaborate a bit on "there's a known issue with that and some resources" (links to GitHub issues, etc.).

[2022-05-06 08:19] schwichti commented on #353
The Pods hang in Terminating state. Here is the describe pod output of the nginx controller:
[code]

[2022-05-06 09:19] georgelza opened #515 "[Bug]: <title> nginx enabled as a 3rd, 4th option with option block result in kube-system namespace already exist."
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

latest

### What is your environment, configuration and the example used?

Hi.
Was deploying a new EKS cluster using Terraform / blueprints, using EKS 1.21
when I specified :
enable

[2022-05-06 09:28] FernandoMiguel commented on #423
you can easily find dozens of these
https://www.google.com/search?q=github+terraform+aws+provider+default_tags+issues+inconsistent+final+plan
it affects primarily SGs, API GWs, and a few other resources.

the way we worked around this is by have two aws providers. with with all our usual tags, and one without tags we use for the EKS module and additional SGs..
We then pass the other provider tags

[2022-05-06 13:47] loicvolle opened #516 "[Bug]: External DNS cannot find other account domain"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

4.0.4

### What is your environment, configuration and the example used?

Terraform 1.0.9
EKS 1.22
IAM configuration for shared service account hosting the domain done with another

[2022-05-06 15:36] Zvikan commented on #515
Thank you for reporting this @georgelza , can you please point to what is the 4/5th option you mentioned? if you used any existing example feel free to share it so we can take a look.

By default, for the nginx addon we don't create the namespace (see https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/main/modules/kubernetes-addons/ingress-nginx/locals.tf#L10).

[2022-05-06 15:54] Zvikan commented on #514
Hey @mattduguid , I will be able to test this on Monday, but from a quick look at your example it looks like you used the teams module outside of the blueprints module, and I assume you set the mapRoles yourself.

Looking at the aws-auth here I believe the group name is incorrect and missing `*-group` at the end, see https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/main/locals.tf#L149 a

[2022-05-06 15:56] bala151187 commented on #505
Sure i will give a shot .. so far . i handled it using below code
[code]

[2022-05-06 16:47] georgelza commented on #515
This failed (see below blocked, followed by what succeeded) - it complained that the kibe-system namespace already existed, was associated with the "enable_ingress_nginx" add-on

[code]

This Worked

[code]

[2022-05-06 18:34] spkane commented on #499
It is actually already set that way.

![CleanShot 2022-05-06 at 11 33 48](https://user-images.githubusercontent.com/129629/167197824-019dbd39-7280-49a8-ba6c-e0392e875b42.png)

I am actually seeing some issues eventually crop up with `cluster-autoscaler` around permissions, but I have not dug into them yet, and have no idea if there are related to having the `rbac.create` disabled.

[code]

[2022-05-06 18:36] spkane commented on #499
Interestenly, I also see this:

[code]

Maybe, I disabled that after initially having it enabled...Not sure at the moment. Might be worth a teardown and rebuild...

[2022-05-06 19:28] spkane opened #518 "[Bug]: Changing the ArgoCD values does not update the ArgoCD installation."
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

770d534c5d82efefd7219606aafeda74ca424400

### What is your environment, configuration and the example used?

Terraform version 1.1.7

[code]

### What did you do and What did you se

[2022-05-06 22:59] kcoleman731 commented on #432
@atali yep that is what we will look to do. I don't believe we will be able to pass values from from resource created via TF to Flux however like we do with the ArgoCD application values map. We refer to this functionality as the [Gitops bridge](https://aws-ia.github.io/terraform-aws-eks-blueprints/add-ons/#gitops-bridge)

[2022-05-07 00:03] mattduguid commented on #514
hi @Zvikan thanks for the reply

i had automated the mapRole in the eks blueprint and then called the teams module separately and while the names did match there must have been something else causing the issue potentially the missing -group, etc

i've pulled it all back under the eks_blueprints and i now have it working 100% from the command line.

However one last issue only with the reader roles

[2022-05-08 15:55] srhoton opened #519 "[Bug]: CNI does not accept a version"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

4.0.4

### What is your environment, configuration and the example used?

$ terraform --version
Terraform v1.1.9
on darwin_amd64

Setting up the CNI addon with the exact syntax in t

[2022-05-09 11:37] schwichti commented on #353
@Zvikan do you have a hint for me how I can fix it?

[2022-05-09 15:16] Zvikan commented on #353
Hey @schwichti , I can see that your nodes are in status "NotReady" , this may be similar issue as I explained above.
Did you run the whole example with a single `terraform destroy` command?
If so, you may faced a situation where some of the VPC resources were deleted before the addons & the cluster, which leads to this situation where nodes are not healthy, and then TF is unable to destroy the ad

[2022-05-09 20:21] schwichti commented on #353
@Zvikan I am not using any example, but created my own module based eks blueprints: https://github.com/dspace-group/simphera-reference-architecture-aws/tree/feat_update_dependencies . In fact, I am able to complete when I delete the Helm charts manually (see above), therefore I do not have the need to use `-target`. However, I would like to destroy everthing with one run without any troubles.

I t

[2022-05-09 21:31] bryantbiggs commented on #519
Hi @srhoton - is there a specific version you are looking to use? Could you try the following and see if this resolves your issue:

[code]

[2022-05-09 22:13] Zvikan commented on #353
@schwichti the implicit dependency is just for several of the VPC resources like the subnet ids, but what can cause this domino effect may be your NAT gateway, or VPC related resources that leads the nodes to be in unstable state and therefore TF not being able to cleanup the addons properly.

And we've removed the explicit dependency between addons and/or accelerator (now known as EKS blueprint)

[2022-05-09 22:25] #510 closed

[2022-05-09 22:53] Zvikan commented on #514
@mattduguid as of today, only platform team is allowed to do the following actions:
[code]
Application team was designed in mind interacting with the k8s cluster API and not with the AWS EKS APIs, but, if you do see your application team/s also need this sort of access it's fair to have a feature request where you can pass custom policy permissions to each team, or even consider a new default appr

[2022-05-10 01:19] #514 closed

[2022-05-10 01:20] mattduguid commented on #514
@Zvikan thanks very much for the information will see how we go 👍

[2022-05-10 10:27] ARivoliRam opened #522 "[ADDON]Will be good to have SMB CSI driver add-on on this blueprint"
Will be good to have SMB CSI driver add-on on this blueprint

[2022-05-10 11:26] bryantbiggs commented on #522
Thanks @ARivoliRam - would you mind sharing your use case? What workloads are you running on K8s that requires the SMB driver? Thank you!

[2022-05-10 11:42] andrewhibbert opened #523 "[FEATURE] Addons such as aws_vpc_cni should optionally be installable via helm"
#### Is your feature request related to a problem? Please describe

Since many people use custom networking for aws_vpc_cni the modules should allow this to either be configurable via add on or via helm so this extra config can be set.

#### Describe the solution you'd like

Option to install via helm and provide helm values

[2022-05-10 12:00] bryantbiggs commented on #523
Thank you for the request @andrewhibbert ! Would you mind sharing how you manage this in your cluster today? Do you manually remove the EKS provided VPC CNI plugin and then re-install using Helm? Is your primary use case here to be able to configure [VPC CNI custom networking](https://docs.aws.amazon.com/eks/latest/userguide/cni-custom-network.html) or do you have other use cases you can share?

[2022-05-10 12:10] andrewhibbert commented on #523
Currently we just edit the resources on the fly, but we'd like to do this via code. Primary use case is for [VPC CNI custom networking](https://docs.aws.amazon.com/eks/latest/userguide/cni-custom-network.html), though I think the module should just provide minimal helm config similar to things like the karpenter module

[2022-05-10 12:10] ARivoliRam commented on #522
our workload connects to file share which is running in datacenter. our pod need connects to the smb file share.

[2022-05-10 12:36] schwichti commented on #353
@Zvikan do I get you right that adding an explicit dependency to the vpc resources *could* solve the issue in my case (coming at the price of slowing down)?

Using the `-target` option is quite unsatisfying for me and can only be a temporary solution.

[2022-05-10 12:50] srhoton commented on #519
Hi! That got it. Just for my knowledge, should we always be deploying the aws add-ons with a data block like that, or is this specific to the CNI? Thanks!

[2022-05-10 12:57] bryantbiggs commented on #519
Hey @srhoton - awesome, glad that worked.

No; this has highlighted an issue we need to resolve regarding how we handle default addon versions prescribed. I have something in progress to solve this and it should be fixed soon, but for now the data source should offer you a workaround to get unblocked. Thank you again for reporting and verifying!

[2022-05-10 15:25] Zvikan commented on #353
@schwichti Yes, by adding explicit dependency in your case you control the deployment (apply/destroy) flow, achieving what I've said [above](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues/353#issuecomment-1088934450).

[2022-05-10 16:04] Zvikan commented on #515
Can confirm this is an issue due to https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/main/modules/kubernetes-addons/ingress-nginx/main.tf#L21
even if create namespace is set to false, there's a resource to create a namespace with the name taking from the helm config which is set to "kube-system".

Creating PR to fix relevant docs and examples that deploying nginx to kube-system.

[2022-05-10 17:23] georgelza opened #524 "[Bug]: terraform destroy fails when ingress via nginx is included"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

1.21

### What is your environment, configuration and the example used?

Not sure how to replicate.
Noticed that when I have nginx configured for ingress, then a terraform destroy f

[2022-05-10 18:10] Zvikan commented on #524
Thank you for reporting this @georgelza , can you please share the full example so we can try run and replicate the issue on our own account?

We need to carefully check what type of k8s resources are not being deleted properly, from my experience it usually starts with the namespace that stuck at "Terminating" state, usually that might lead into CRDs or other custom resources that are not being d

[2022-05-10 18:21] georgelza commented on #524
hmm, how can I attach a file, then i can zip my folder with the various Tf files execute as all part of the apply and destroy.

[2022-05-11 16:11] georgelza commented on #524
Hi there...
The code is in a private git repo, so can't link, also as I offered to share the entire set of files thats executed via the terraform apply (it's 29 files) in the directory structure.

[2022-05-11 18:41] bryantbiggs commented on #507
@askulkarni2 FYI - https://github.com/aws-samples/eks-blueprints-add-ons/issues/32

[2022-05-11 20:46] srhoton opened #532 "[Bug]: IAM permissions boundary not passed down to teams add on"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

4.0.4

### What is your environment, configuration and the example used?

If you build a cluster and set up a team (just like in the documentation here: https://aws-ia.github.io/ter

[2022-05-11 21:09] bryantbiggs commented on #532
Yes, please feel free to submit a PR @srhoton , thank you!

[2022-05-11 22:42] #519 closed

[2022-05-12 02:12] kcoleman731 commented on #518
HI @spkane thanks for submitting the issue. I just tested this locally and it looks like value updates are applying correctly. Are you able to share your `argocd-values.yaml.tftpl` config and I can test your config on my side.

To try and repro your issue, I used the following:

[code]

I copied the contents of the [default values file ](https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/

[2022-05-12 14:07] allamand commented on #404
Hi @dil-sthaens, can you check in the logs of the load balancer controller what happened ? If the load balancer controller was not created, this can be due to lots of reasons, like missing policy in the load balancer controller IAM role. I just see that in my case the load balancer controller was missing a policy :  "ec2:DescribeVpcPeeringConnections", I'll raise an issue and PR to fix this one, m

[2022-05-12 14:21] stevehipwell opened #538 "[FEATURE] Remove dependency on terraform-aws-eks"
#### Is your feature request related to a problem? Please describe
The use of the [terraform-aws-eks](https://github.com/terraform-aws-modules/terraform-aws-eks) module is problematic for a couple of reasons both technical and cultural.

Firstly wrapping a complex Terraform module in another complex module makes the resultant code exponentially harder to understand, made even worse by needing to j

[2022-05-12 14:22] stevehipwell commented on #538
CC @kcoleman731

[2022-05-12 16:28] ZeroDeth opened #540 "[QUESTION] Add multiple envs to workload"
#### Please describe your question here

We are running ArgoCD in Shared-EKS cluster to manage multiple environments. How to achieve deploy add-ons and workloads to multiple envs from centralized ArgoCD by Terraform

#### Provide link to the example related to the question

How to achieve with the current example below?

mgmt Cluster
[code]

#### Additional context

#### More

- [ ] Yes, I have ch

[2022-05-12 16:52] andrewmiskell opened #541 "[QUESTION] Multiple Route53 Zones with ExternalDNS"
Trying to see if it's possible to support external-dns adding records to multiple Route53 zones.

The documentation states that setting the eks_cluster_domain value is optional in order to set the zoneIdFilters, however, if I don't specify that value a get an error during apply stating.

`
│Error: Either name or zone_id must be set
 with module.eks_cluster_kubernetes_addons.module.external_dns[0].

[2022-05-12 17:02] #532 closed

[2022-05-12 17:47] kcoleman731 opened #542 "[EXAMPLES] - Update source path"
In each example, we currently use relative paths for module sources. Example [here](https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/main/examples/eks-cluster-with-new-vpc/main.tf#L75).

Tasks

- [ ]  **Update Source Urls** - we should switch to using git urls (and eventually terraform registry urls) and specific version tags, so that it is easier for customers to bring code into their

[2022-05-12 18:29] kcoleman731 opened #543 "[REFACTOR] - Non-prescriptive tagging"
#### Is your feature request related to a problem? Please describe

Not related to a problem or issue - but feedback from customers around tags.

#### Describe the solution you'd like

Currently, EKS Blueprints leverages the [aws-resource-tags](https://github.com/aws-ia/terraform-aws-eks-blueprints/tree/main/modules/aws-resource-tags) submodule for tags. We should be less prescriptive around the t

[2022-05-12 19:28] #518 closed

[2022-05-12 19:43] Zvikan commented on #515
Closing as this addressed in https://github.com/aws-ia/terraform-aws-eks-blueprints/pull/530, example re-tested and addons should not try to create kube-system namespace.

[2022-05-12 19:43] #515 closed

[2022-05-12 19:46] Zvikan commented on #524
I see, in that case it's going to be more problematic to reproduce this issue if you can't share it.
Have you ran the command I shared [above](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues/524#issuecomment-1122713052) and if you can please share the full error message and where it fails, we need more data in order to provide assistance with this.

Ideally we want to find the root c

[2022-05-12 20:02] naris-silpakit commented on #462
I'm going to close this issue due to inactivity. Please re-open this if the issue comes up again!

[2022-05-12 20:02] #462 closed

[2022-05-12 20:29] spotaws commented on #538
I just want to better understand the concern here. Is the issue you have with terraform-aws-eks technical, political/social, or both?

[2022-05-12 20:52] stevehipwell commented on #538
@spotaws both, but I probably wouldn't have taken the time to open an issue on a project that I only have a passing academic interest in if it was only technical.

[2022-05-12 23:01] kcoleman731 commented on #541
@andrewmiskell thanks for creating this issue. Agree that this should be support. I'll go ahead and add this issue to the backlog.

[2022-05-13 05:28] georgelza commented on #515
perfect.

[2022-05-13 05:29] georgelza commented on #524
I created a new repo, copied the code into here.

https://github.com/georgelza/vpc_eks.git

This is my entire stack I create... which then fails a terraform destroy.

G

[2022-05-13 11:09] vara-bonthu commented on #498
@spkane What you are seeing in `locals.tf` are the default values for each Add-on.  All the Add-ons can be configured by the users to pass their own values.

Did you try passing your own config with `prometheus_helm_config={}` ?

Here is the doc https://aws-ia.github.io/terraform-aws-eks-blueprints/add-ons/prometheus/

[2022-05-13 12:12] vara-bonthu commented on #483
@christianhxc Did you checkout the examples here https://aws-ia.github.io/terraform-aws-eks-blueprints/node-groups/?  This has examples for creating SPOT node groups.

Are you looking for more details? Please describe so that we can extend this doc.

[2022-05-13 12:22] christianhxc commented on #483
@vara-bonthu I did, but as I mentioned this PR https://github.com/aws-ia/terraform-aws-eks-blueprints/pull/484, to use Spot effectively you need to do more than just adding a capacity type, and it varies if using managed node-groups or self-managed node groups. I didn't want to submit too many changes at once but the docs you're referencing need to be changed too (i.e. if using managed node groups

[2022-05-13 12:45] vara-bonthu commented on #483
Thanks @christianhxc!  It sounds like you added some missing features to our node groups.
I didn't go through your PR yet.  I will get back to you after reviewing the PR.

[2022-05-13 12:47] christianhxc commented on #483
awesome, thanks @vara-bonthu

[2022-05-13 13:27] vara-bonthu commented on #505
@bala151187 Are we good to close this issue now?

[2022-05-13 13:55] kcoleman731 commented on #538
Hi @stevehipwell - thank you taking the time write this issue and share your concern. At this time, we don't have plans to remove the dependency on the [terraform-aws-eks](https://github.com/terraform-aws-modules/terraform-aws-eks) module.

[2022-05-13 13:55] #538 closed

[2022-05-13 15:18] spkane commented on #498
@vara-bonthu I had this setup in my code when I was testing it:

[code]

but since it has been a week, let me test it one more time and double check.

[2022-05-13 15:29] spkane commented on #498
So, it looks like the monitoring namespace is created, but that the ArgoCD application/helm is not targeting the right namespace.

![CleanShot 2022-05-13 at 08 27 07](https://user-images.githubusercontent.com/129629/168316764-288e66e4-2955-4510-b237-33988eb7a684.png)

Digging in just a bit more...

[2022-05-13 15:41] spkane commented on #498
Ahhh. I think the error might actually be here:

https://github.com/aws-samples/eks-blueprints-add-ons/blob/main/chart/templates/prometheus.yaml#L33

It looks like the destination namespace is hard-coded here (and maybe in other examples) and does not respect what was set in the Terraform code.

[2022-05-13 16:10] #505 closed

[2022-05-13 17:43] bryantbiggs opened #548 "[FEATURE] Route53 test domain"
#### Is your feature request related to a problem? Please describe
- A Route53 domain is required to test and validate addons that rely on DNS records. Most use cases will rely on a public facing domain, but there are use cases that a private, internal domain is used as well. Therefore, two domains - one public, one private, would aid in the test and validation of addons that rely on DNS records o

[2022-05-13 17:47] bryantbiggs opened #549 "[FEATURE] Blueprint for serverless Fargate cluster"
#### Is your feature request related to a problem? Please describe
- A blueprint that demonstrates how to create a serverless based EKS cluster using Fargate profiles. This solution will rely on showing users how they need to manage patching CoreDNS to avoid having to run an EC2 based node for essential addons

#### Describe the solution you'd like
- Blueprint of EKS cluster with Fargate profiles

[2022-05-13 19:53] Zvikan commented on #524
Hey @georgelza ,
I am able to reproduce the issue using your code:
[code]

Can confirm the issue is namespace can't be deleted because its hanging on Terminating state:
[code]

I can see some pods are also stuck at terminating (nginx/cluster-autoscaler & ALB controller) , checking events I can see "node not ready" which lead me to check status of the nodes:
[code]

As you can see the nodes are in

[2022-05-14 04:22] georgelza commented on #524
Well glad we could reproduce it, always first challenge.
1. I run this as a single terraform apply ... Do my tests pack and then a single terraform destroy.
2. ok, so you were able to work around the problem by first destroying the add on's using the -target=<resource> and then the cluster similarly, which makes me think then doing a terraform destroy on the remaining will work?

[2022-05-14 04:38] Zvikan commented on #524
@georgelza correct to your 2nd point, first you make sure to destroy addons only, then you can run destroy "all"

[2022-05-14 08:37] georgelza commented on #524
... it's a fix... but the better fix would be for a single destroy to work...
i can make the add on's dependant on the EKS (think it is already) and then make the EKS dependant on ???
would this cause the destroy to correctly start with the add on's followed by the EKS and then transfers the rest of the stack ?

[2022-05-14 13:53] armujahid commented on #524
I also faced same ` Error: context deadline exceeded` while destroying examples/karpenter cluster (after ensuring that no nodes are running created by Karpenter before running the `terraform Destroy`)  because node becomes unready first and therefore it's impossible to remove karpenter. It's stuck at terminating state.

![image](https://user-images.githubusercontent.com/3725386/168428565-34e4bccf-

[2022-05-16 08:23] FernandoMiguel commented on #549
We use this
[code]
after that, we instal coredns addon

[2022-05-16 20:17] Zvikan commented on #524
@georgelza , correct, you can add additional explicit dependencies via `depends_on`, as you have custom resources and modules used in your case, you can add it in areas where implicit dependencies doesn't get the job done.

Suggesting to also view [this thread](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues/353#issuecomment-1121635755) for additional info.

@armujahid review your TF

[2022-05-16 22:40] kcoleman731 commented on #518
Sounds great. Thank you @spkane !

[2022-05-17 05:14] georgelza commented on #353
do think a destroy that includes of a EKS cluster should without being told automatically delete the add-ons first.

[2022-05-17 07:50] greenhua opened #556 "SSH key is not associations with worker nodes"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

latest

### What is your environment, configuration and the example used?

Terraform v1.1.9
self_managed_node_groups = {
  linux = {
    node_group_name = "linux"
    subnet_type

[2022-05-17 17:23] vara-bonthu opened #559 "[Bug]: Managed IAM polices are getting detached during Node groups create/update/delete"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

v4.0.4

### What is your environment, configuration and the example used?

Managed IAM polices attached to IAM roles(IRSA) are getting detached while adding new Managed node groups,

[2022-05-18 11:31] mattduguid opened #560 "[QUESTION] additional manifests not working"
We are looking to extend the default rights of an application_team.

We setup an "application_team" called "team-sm-reader",
[code]

That automatically adds the following to the "aws-auth" configmap,
[code]

To extend that application_team we have enabled the "manifests_dir" and added in the following to allow management of configmaps in their namespace,
[code]

We then set "AWS Access Key ID" + "

[2022-05-18 13:20] #560 closed

[2022-05-18 16:23] kcoleman731 opened #561 "[DOCS] - Update examples apply/destroy steps"
Update `apply` and `destroy` documentation in each of our example READMEs to demonstrate target apply and destroy approach.

[2022-05-18 16:24] kcoleman731 opened #562 "[DOCS] - Add Min IAM Permissions Doc"
We should provide guidance on min IAM policies that are needed for an admin leverage EKS Blueprints.

[2022-05-18 16:37] FernandoMiguel opened #563 "[QUESTION] Error from server (NotFound): services "kube-dns" not found"
#### Please describe your question here
@bryantbiggs based off your branch (https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/feat/custom-coredns/examples/fargate-serverless/main.tf)
i'm trying to follow your example, and end up with this error.

#### Provide link to the example related to the question
[code]

[code]

any help is appreciated

[2022-05-18 17:01] vara-bonthu commented on #559
This issue is not reproducible when you delete this line from the [examples](https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/40b35707d00ea619348a60d242c97f78a18abf2e/examples/eks-cluster-with-new-vpc/main.tf#L114)

We will update these examples with README to deploy with `--target` option for TF Apply and Destroy. `depends_on` wont be required if you apply the `eks_blueprints_kubernete

[2022-05-19 08:22] #468 closed

[2022-05-19 09:52] FernandoMiguel opened #567 "[FEATURE] introduction of nullable argument in variables"
#### Is your feature request related to a problem? Please describe
For many practitioners using external modules, they end up having to copy the module `variables.tf` and their default values.
This can be cumbersome, and if upstream changes the default values, hard for downstream to keep up.

#### Describe the solution you'd like
Terraform 1.1 introduced the concept of nullable
https://www.terrafo

[2022-05-19 11:48] FernandoMiguel commented on #563
seems that moving from my previous code, to this branch one, removed kube-proxy and coredns and left the cluster in a bad state.
on a clean cluster, it worked as expected

[2022-05-19 11:48] #563 closed

[2022-05-19 11:53] FernandoMiguel opened #568 "[Bug]: 1 node(s) had taint {eks.amazonaws.com/compute-type: fargate}, that the pod didn't tolerate."
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/feat/custom-coredns/examples/fargate-serverless/main.tf

### What is your environment, configuration and the example used

[2022-05-19 15:33] vara-bonthu commented on #559
Related issue explanation https://github.com/hashicorp/terraform/issues/26383

[2022-05-20 13:41] travisnburton opened #569 "[Bug]: Unable to access cluster endpoint and CA when used as a module with Terragrunt"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

4.0.2

### What is your environment, configuration and the example used?

*Terragrunt*
terragrunt.hcl

[code]

*Terraform module*
main.tf

[code]

### What did you do and What did y

[2022-05-20 15:06] #569 closed

[2022-05-20 15:06] travisnburton commented on #569
This is resolved in 4.0.6

[2022-05-21 16:56] markl11 commented on #436
Yes, looking forward to this one.

[2022-05-22 14:53] markl11 opened #573 "Error: context deadline exceeded: when destroying 'eks-cluster-with-new-vpc""
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

https://github.com/aws-ia/terraform-aws-eks-blueprints/tree/main/examples/eks-cluster-with-new-vpc

### What is your environment, configuration and the example used?

I just deploye

[2022-05-22 17:54] bryantbiggs commented on #573
The examples provided include all the resources to bring up the example cluster and its resources. Normally, things like VPC and cluster would be in separate statefiles. The recommendation to avoid this issue is to destroy using targets such as:
[code]

[2022-05-24 03:56] lupindeterd commented on #523
@bryantbiggs I'm not sure if this relevant to this but it seems that the custom value I set through amazon_eks_vpc_cni_config doesn't get applied to the running DaemonSet, I want to change the SNAT env to true from false.

` amazon_eks_vpc_cni_config =
{
    set = [{
      name  = "env.AWS_VPC_K8S_CNI_EXTERNALSNAT"
      value = "true"
      }
    ]
  }
`

[2022-05-24 08:23] bertalankis commented on #423
Today I have met this issue and I applied this workaround, which seems to be solving the issue for me:

    provider "aws" {
      region = var.region

      default_tags {
        tags = local.tags
      }
    }

    # same as the default aws provider, but without default tags
    provider "aws" {
      alias = "no-default-tags"
      region = var.region
    }

    module "eks_blueprints" {

[2022-05-24 10:18] FernandoMiguel commented on #423
we follow exactly the same approach, sadly.

[2022-05-24 11:51] bryantbiggs commented on #523
@lupindeterd - the VPC CNI addon is a managed addon and therefore does not currently support custom configurations such as setting environment variables.

[2022-05-24 18:25] travisnburton opened #576 "[Bug]: Managed Node Group nodes fail to attach"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

4.0.6

### What is your environment, configuration and the example used?

main.tf
[code]

### What did you do and What did you see instead?

Applying configuration results in the fo

[2022-05-24 20:46] kcoleman731 commented on #576
Thank you for creating this issue @travisnburton! We will investigate and get back to you.

[2022-05-24 23:53] kcoleman731 commented on #573
@markl11 the approach is outlined in our [Getting Started guide](https://aws-ia.github.io/terraform-aws-eks-blueprints/getting-started/#cleanup). We are in the process of updating READMEs for each our our examples to reflect this approach as well.

[2022-05-24 23:53] kcoleman731 commented on #568
Thank you for the issue @FernandoMiguel. We will look into this and get back to you.

[2022-05-24 23:55] kcoleman731 commented on #556
@vara-bonthu mind taking a look at this one?

[2022-05-25 07:00] Hokwang commented on #439
This really needed!

[2022-05-25 07:30] Hokwang opened #577 "[FEATURE] how can I use helm chart for aws-ebs-csi-driver"
Hi,

For now, I installed aws-ebs-csi-driver using helm chart.
Because I can set `storageClass` with it.

I think it is great benefit.

But blueprints' aws-ebs-csi-driver addon is not consider this way.

[2022-05-25 11:51] bryantbiggs commented on #577
Hi @Hokwang - correct, the current implementation for the `aws-ebs-csi-driver` is through an EKS managed addon. We can look at providing an alternate route for deploying/managing through a Helm chart which will allow for custom configuration.

[2022-05-25 15:23] Hokwang commented on #577
I think that all addons including vpc-cni will be removed. Because it is a prerequisite for installing other cni.
So if some addon has installing helm way, it is better to use.

[2022-05-25 16:56] migalsp commented on #474
Hi, please, add additional parameter for different pod's subnets.  It could be something like this
[code]

[2022-05-26 04:14] kcoleman731 commented on #576
@travisnburton are you able to share your VPC config?

[2022-05-26 07:02] szkbury opened #579 "[Bug]: node group update fails when VPC CNI addon is enabled"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

4.0.4

### What is your environment, configuration and the example used?

Terraform version:
Terraform v1.1.8

Provider version(s):
Terraform v1.1.8
on linux_amd64
provider registry

[2022-05-26 07:04] szkbury commented on #576
this is related to vpc_cni addon enabled and policy attachement removal - please see this one: https://github.com/aws-ia/terraform-aws-eks-blueprints/issues/579

[2022-05-26 09:41] vara-bonthu commented on #579
Thanks @szkbury . Have you seen this  issue #559? I have added a background about this issue and a solution.
We found out recently that it's an issue with `depends_on = [module.eks_blueprints.managed_node_groups]` line in our examples.

We had to add this `depends_on`  to ensure all the resources are deployed in one TF APPLY. This is not a recommended approach for production. You probably need to

[2022-05-26 09:42] vara-bonthu commented on #579
Related to #559

[2022-05-26 10:07] vara-bonthu commented on #576
@travisnburton Did this happen during the first TF Apply on the above example? Or during the Managed node groups update (any changes to node groups)?

We have a known issue with node groups update where VPC CNI policy is getting detached from VPC CNI IAM Role. Please see this issue for more details and the solution #559

- Check if this `arn:aws:iam::aws:policy/AmazonEKS_CNI_Policy` policy is stil

[2022-05-26 11:27] szkbury commented on #579
alright, I will test it once again without depends_on and create new issue if any problems occur.

[2022-05-26 11:27] #579 closed

[2022-05-26 11:28] szkbury commented on #579
Thanks!

[2022-05-26 12:39] ruzickap opened #581 "[FEATURE] Cilium as a replacement of Amazon VPC CNI"
#### Is your feature request related to a problem? Please describe
Is it possible to add the functionality to install Cilium into Amazon EKS instead of Amazon VPC CNI?

Details: https://docs.cilium.io/en/v1.11/gettingstarted/k8s-install-default/

#### Describe the solution you'd like
I would like to use Cilium as a default CNI instead of "Amazon VPC CNI".

[2022-05-26 13:16] bryantbiggs commented on #581
I believe between the following, this is already covered:
- #436
- #439
- #523

[2022-05-26 13:16] #581 closed

[2022-05-26 13:37] camba1 opened #582 "[Bug]: Harcoded partition on arn causes failures when deploying to govCloud"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

4.0.4

### What is your environment, configuration and the example used?

[code]

### What did you do and What did you see instead?

Tried to deploy to govcloud. Expected everything

[2022-05-26 15:29] SemperRuminare commented on #573
@kcoleman731 It looks like your example in the getting started guide has typos that say "terraform apply -target="module.eks_blueprints"" instead of terraform destroy for the last two commands.

[2022-05-26 15:29] ruzickap commented on #581
Maybe...

The addons mentioned above are about installing Cilium / Calico on top of existing Amazon VPC CNI.

This issue is about installing Cilium as replacement of "Amazon VPC CNI".

But let me mentioned it in the Issues to clarify...

[2022-05-26 16:01] Zvikan commented on #561
should be handled by https://github.com/aws-ia/terraform-aws-eks-blueprints/pull/580 - assigning to @vara-bonthu

[2022-05-26 16:02] Zvikan commented on #524
FYI - https://github.com/aws-ia/terraform-aws-eks-blueprints/pull/580

[2022-05-26 23:12] #543 closed

[2022-05-27 01:58] guilhermeblanco commented on #541
I have successfully adjusted the knobs to support multiple zones using the following config:

[code]

[2022-05-27 02:06] guilhermeblanco commented on #577
@Hokwang I too had the same issue.
I managed to preserve the EBS StorageClass by implementing a similar approach to the Helm chart in my own Terraform manifetss, like this:

[code]

And later...

[code]

On first cluster I manually imported the storage class, then updated the Helm chart, then removed annotations, and many other steps in order to ensure the EBS StorageClass never got deleted. On su

[2022-05-27 02:32] Hokwang commented on #577
@guilhermeblanco Thanks for sharing your workaround. 🙌🏼

[2022-05-27 12:44] ptravishill opened #584 "[Bug]: ArgoCD App of Apps pattern not applying annotations"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

4.0.4

### What is your environment, configuration and the example used?

I am using eks-blueprint-add-ons along with ArgoCD App of Apps pattern via eks-blueprints and terraform. Be

[2022-05-29 00:02] #243 closed

[2022-05-29 05:41] a-patel commented on #451
Any update on this?

[2022-05-29 21:28] kcoleman731 commented on #584
Thanks for the issue @ptravishill. What version of EKS are you testing with?

[2022-05-30 12:53] maiconrocha commented on #441
I have created a PR for closing this FR, please see above.

[2022-05-31 13:23] ptravishill commented on #584
[code]

After looking into this further it seems that ArgoCD is not applying ANY config set in `/add-ons/cluster-autoscaler/values.yaml`, despite ArgoCD seeing the helm values in the dashboard.

[2022-05-31 14:01] #549 closed

[2022-06-01 00:02] #440 closed

[2022-06-01 11:14] it-praktyk opened #590 "[QUESTION] Is it possible a direct usage of the helm-addon from the Terraform code?"
I've created a separate add-on for that helm (with all required a boilerplate code) but I'm curious if is it possible to do in more direct way.

I try to install a third-party helm chart using directly the helm-addon add-on.

Does the helm-addon is intended to use in this way as well?

If it's possible, please provide an example.

Thank you in advance.

[2022-06-01 19:22] bryantbiggs commented on #568
Did this happen on a new cluster deployment? If you delete the pending pod, does the new pod pulled succeed?

[2022-06-01 19:24] bryantbiggs commented on #423
Yes, unfortunately this is a well known issue and it resides upstream. Closing out this issue for now since its outside the scope of what we can solve here

[2022-06-01 20:36] ptravishill commented on #584
I was able to resolve this. Something was wrong with my values.yaml file and version 9.15.0. After taking the values from the latest chart and updating the Chart.yaml and refreshed, it started working.

[2022-06-01 20:36] #584 closed

[2022-06-02 10:23] FernandoMiguel commented on #568
@bryantbiggs this was a few weeks ago when I was testing your branch... i dont recall if this was on a brand new cluster or mid test deployment , sorry.
i had quite a bit of trouble to get coredns to work so i tried a few things, and dont recall exactly how this happened.
eventually gave up and went back to our old method.
now that 4.0.8 is merged, i'll see if i can test this again

[2022-06-03 14:54] bryantbiggs commented on #445
Thank you @sharepointoscar - if you get some time, open a PR to add a link in the docs here to the workshop

[2022-06-03 16:23] kcoleman731 opened #594 "[CI] - Add Renovate Bot"

[2022-06-06 13:43] bryantbiggs commented on #394
Closed in #558

[2022-06-06 13:43] #394 closed

[2022-06-06 20:01] csantanapr opened #601 "[Bug]: vpc not created on getting started"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

master commit b0d8671a2f6611f189b3a618e5d7341e2d7e3263

### What is your environment, configuration and the example used?

Using macOS
Terraform
[code]
AWS CLI
[code]

### What did

[2022-06-06 21:01] csantanapr opened #602 "[Bug]: nodes failed to join in getting started"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

master commit b0d8671a2f6611f189b3a618e5d7341e2d7e3263

### What is your environment, configuration and the example used?

Using macOS
Terraform
[code]
AWS CLI
[code]

### What did

[2022-06-06 23:16] bryantbiggs commented on #602
Thanks @csantanapr - we've recently updated our guidance around deploy and destroy but the published docs aren't up to date. We'll trigger a release shortly to get these changes published. Apologies and thank you for your patience!

[2022-06-06 23:33] bryantbiggs commented on #475
hi @kumarpmd - you should be able to achieve this today with:

[code]

These values are passed directly to the `terraform-aws-eks` module https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/main/main.tf#L28-L29

[2022-06-06 23:58] csantanapr commented on #602
Hi @bryantbiggs
I just try plan and apply as is at created all 76 resources including the eks addons
[code]
eks with addons
[code]

I still would like to know the root cause of why `terraform apply -target="module.aws_vpc"` thinks there are zero resources to create.

[2022-06-07 00:00] bryantbiggs commented on #602
the module name is `"vpc"` so your apply would need to be `terraform apply -target=module.vpc` - there was a re-name not so long ago to standardize some of the naming conventions. I just pushed the release so the docs site should get updated for this

[2022-06-07 00:12] csantanapr commented on #602
Ha!, @bryantbiggs just saw the change in https://github.com/aws-ia/terraform-aws-eks-blueprints/pull/603

Yeah you can even use `modules.foo` and you don't get `Error: Invalid target`

[code]

I see the valid `modules.vpc` now using `terraform state list`
[code]

[2022-06-07 10:03] vara-bonthu commented on #601
@csantanapr can this be closed as well?

[2022-06-07 10:19] vara-bonthu commented on #576
@travisnburton Please close the issue if this is resolved for you

[2022-06-07 10:23] #573 closed

[2022-06-07 10:24] #463 closed

[2022-06-07 11:46] csantanapr commented on #601
@vara-bonthu this is a dupe and is working for me now with correct module command “terraform apply -target=module.vpc”

[2022-06-07 11:46] #601 closed

[2022-06-07 11:47] csantanapr commented on #602
Closing is working for me now

[2022-06-07 11:47] #602 closed

[2022-06-07 12:24] travisnburton commented on #576
Issue is not resolved, but I've switched back to the community EKS module and do not have cycles to commit to this.  Sorry for the delay in response.

[2022-06-07 12:24] #576 closed

[2022-06-07 15:51] rohitjha941 opened #607 "[QUESTION] Unable to use Nginx ingress on fargate"
#### Please describe your question here
I am trying to run Nginx ingress on Fargate. I added the namespace of Nginx, but it seems that the load balancer is not registering the target.

#### Additional context
Nginx Values YAML file
[code]

#### More

- [x] Yes, I have checked the repo for existing issues before raising this question

[2022-06-07 15:57] bryantbiggs commented on #607
Hi @rohitjha941 - would you mind sharing your Terraform configuration so I can investigate and reproduce?

[2022-06-08 01:47] cer opened #608 "[Bug]: examples/eks-cluster-with-new-vpc doesn't create a fargate profile"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

latest

### What is your environment, configuration and the example used?

https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/main/examples/eks-cluster-with-new-vpc/README.

[2022-06-08 06:08] rohitjha941 opened #609 "[Bug]: Cannot run cert-manager on fargate"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

v4.09

### What is your environment, configuration and the example used?

### What am I trying to do?
Run cert-manager in Fargate Only Cluster

### Issue
`cert-manager-startupapiche

[2022-06-08 11:02] vara-bonthu commented on #608
Thanks @cer . Its a documentation issue. This [example](https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/main/examples/eks-cluster-with-new-vpc/main.tf) only creates one managed node group. Please feel to raise PR for doc fix.

If you are looking for fargate examples then you can refer to https://github.com/aws-ia/terraform-aws-eks-blueprints/tree/main/examples/node-groups/fargate-profi

[2022-06-08 11:08] #561 closed

[2022-06-08 22:45] askulkarni2 commented on #609
Hi @rohitjha941, thanks for raising this issue. I have a feeling this is related to https://github.com/cert-manager/cert-manager/issues/3237. The workaround is documented [here](https://cert-manager.io/docs/installation/compatibility/). Please pass a `values.yaml` with `webhook.securePort` set to a different value other than port 10250.

[2022-06-09 03:04] simishra-eci opened #615 "[Bug]: EKS with custom AMI managed node template creation failed"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

v4.0.5

### What is your environment, configuration and the example used?

### Environment

Test

### configuration

**We need  EKS managed node with custom AMI (custom AMI has been

[2022-06-09 04:52] rohitjha941 commented on #609
Thanks this fixed the issue. Closing this Issue

[2022-06-09 04:52] #609 closed

[2022-06-10 04:45] darrenlin opened #619 "[Bug]: When using Managed NG and Self-Managed NG, the Security Group does not allow Port 53 by default"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

4.0.9

### What is your environment, configuration and the example used?

I tried to create two node groups. One is managed node group, and another is self-managed node group (for l

[2022-06-10 05:26] darrenlin commented on #619
I fixed the issue on my own using additional security group rules below:

[code]

[code]

[2022-06-10 10:40] allamand opened #620 "[FEATURE] [ADDON] Add Kyverno Addon"
#### Is your feature request related to a problem? Please describe

Kyverno can be used as admission controller to improve cluster security.

#### Describe the solution you'd like

I would like it to be easilly installed with a blueprint Add-On.

[2022-06-10 22:31] spkane opened #621 "[FEATURE] Add support for other ArgoCD application types (e.g. `kustomize`)"
#### Is your feature request related to a problem? Please describe
Targeting Helm by default is understandable for the feature set and flexibility that a project like this needs to provide, but it can make things overly complex due to the multiple layers of indirection, especially when it is not always required.

It would be really nice to be able to add ArgoCD applications via this mechanism that

[2022-06-11 00:02] askulkarni2 commented on #621
Hi @spkane, great call out! If you want to contribute this feature, we would definitely welcome the PR.

[2022-06-11 00:03] askulkarni2 commented on #590
Documented in #614

[2022-06-11 00:03] #590 closed

[2022-06-12 00:02] #485 closed

[2022-06-12 01:26] bhushanchirmade opened #623 "[Bug]: Karpenter provisioner does not work with launch template and securityGroupSelector"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

latest

### What is your environment, configuration and the example used?

Non production environment. EKS 1.22 and Karpenter 0.10.1

### What did you do and What did you see instea

[2022-06-12 10:21] it-praktyk commented on #590
Thank you for your answer and updated documentation.

[2022-06-12 13:16] tomerleib opened #624 "[QUESTION] Existing EKS support?"
#### Please describe your question here

Is it possible to use the blueprints here for existing environments, or at least some of the submodules?
#### Provide link to the example related to the question

#### Additional context

#### More

- [x] Yes, I have checked the repo for existing issues before raising this question

[2022-06-12 16:20] Tstrul-work opened #625 "[Bug]: Failed upgrading to 4.0.7 - blueprint addons cannot connect to kubernetes"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

4.0.7

### What is your environment, configuration and the example used?

terraform version - 1.0.11
awscli version - 2.4.22
error:

[code]

Provider configuration:
================

[2022-06-12 16:59] koslib opened #626 "[Bug]: cluster-autoscaler in CrashLoopBackoff with default config"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

v4.0.2

### What is your environment, configuration and the example used?

Terraform version: 1.2.2

### What did you do and What did you see instead?

EKS cluster version: v1.21

F

[2022-06-13 10:05] FernandoMiguel commented on #624
yep. we do that. we have our own cluster module and our own addons, and add things from blueprints that are useful for us, without the need for us to write adicional code

[2022-06-13 10:15] spytliak opened #628 "[QUESTION] Blueprint addons cannot connect to kubernetes with disabled irsa"
#### Please describe your question here
Hello,
I've been trying to create a private EKS cluster with disabled irsa and add several of the add-ons, but there are the errors below:
[code]
If the irsa is enabled by default, the errors will be:
[code]
In this case(irsa is enabled), when restart terraform apply again, the eks cluster will be deployed.

#### Provide link to the example related to the qu

[2022-06-13 11:29] mijndert commented on #625
Try something like this.

[code]

[2022-06-13 12:05] bryantbiggs commented on #483
Closed in #484 - thanks @christianhxc !

[2022-06-13 12:05] #483 closed

[2022-06-13 14:46] niv1612 opened #630 "[QUESTION] How to implement Prometheus only with Fargate?"
#### Please describe your question here
Hey,
How can I use [aws-managed-prometheus](https://github.com/aws-ia/terraform-aws-eks-blueprints/tree/main/modules/aws-managed-prometheus) and [prometheus](https://github.com/aws-ia/terraform-aws-eks-blueprints/tree/main/modules/kubernetes-addons/prometheus) modules with fargate only? Is it possible?
Right now, I'm getting errors about the EBS storage:
`Po

[2022-06-13 15:19] niv1612 opened #631 "[Bug]: opentelemetry_operator - Certificate & Issuer kinds can't be recognize"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

v4.0.8

### What is your environment, configuration and the example used?

Terraform version:  v1.0.11

### What did you do and What did you see instead?

[code]
Those are the setti

[2022-06-13 17:02] bonclay7 commented on #631
Hey, in which example where you deploying this?

[2022-06-14 07:02] Tstrul-work commented on #625
Hey, i do have these data blocks:
[code]

In addition, I tried configuring providers that way and it didn't work as well, I got the same error

[2022-06-14 09:01] niv1612 commented on #631
[fargate-serverless](https://github.com/aws-ia/terraform-aws-eks-blueprints/tree/main/examples/fargate-serverless)

[2022-06-14 09:25] yaoluoye opened #632 "[QUESTION] <How to create managed_node_groups on an existing EKS cluster >"
I had an EKS cluster and want to create some managed_node_groups on it, how to do that?

[2022-06-14 11:24] yaoluoye commented on #632
I tried many times today and finally did it. The problem is the file `eks_blueprints/modules/aws-eks-managed-node-group/main.tf` has issue, the variable `cluster_name = var.context.eks_cluster_id` got empty string, I gave it a static string and succeed.

[2022-06-14 11:28] FernandoMiguel commented on #632
that is fixed in main.
4.0.9 is broken

[2022-06-14 15:01] ptravishill opened #633 "[Bug]: Helm Provider Inconsistent Final Plan"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

v4.0.9

### What is your environment, configuration and the example used?

TF version: 1.1.7

Here is the TF code from the module:
[code]

### What did you do and What did you see i

[2022-06-15 00:11] muram opened #635 "[QUESTION] Experimental feature "module_variable_optional_attrs" generates a warning"
#### Please describe your question here
There are currently three modules with experiments enabled (see link below) which generates a warning on every `terraform plan` or `terraform apply`.

1. What's the intention behind this feature?
2. Is this a hard requirement or a workaround?
3. Would this cause any future breaking changes may appear even in minor and patch releases?

#### Provide a link to

[2022-06-15 00:59] kn0xyAU opened #636 "[QUESTION] Error: error creating EKS Cluster (eks-cluster01): ResourceInUseException: Cluster already exists with name: eks-cluster01"
Hello EKS Community,

I have been using EKS Blueprints 4.0.9 to deploy an EKS cluster, this deployed fine on the first run, but then I started to run into issues when trying to incrementally deploy changes to the cluster to modify it for our developers. I have come back from leave and tried to update Security groups and AWS-AUTH configmap to allow new users and roles access to the cluster.

What c

[2022-06-15 02:24] #632 closed

[2022-06-15 08:54] szkbury commented on #626
the same happens on cluster 1.20 and addons release v4.0.9

[2022-06-15 09:32] FernandoMiguel commented on #567
is there any interest in this ?

[2022-06-15 09:36] koslib commented on #626
These seem to be the logs I can find before the panics:

[code]

It's important to note this pod referenced does not exist neither I could find it in the cluster, neither `cluster-autoscaler` existed previously in the cluster or anything (fresh green field cluster).

[2022-06-15 11:57] szkbury opened #637 "[Bug]: Huge number of new nodes created while upgrading cluster"
### Welcome to Amazon EKS Blueprints!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/aws-ia/terraform-aws-eks-blueprints/issues) and didn't find any.

### Amazon EKS Blueprints Release version

4.0.9

### What is your environment, configuration and the example used?

I have a test cluster created by blueprint **v4.0.9** with 2 node groups and 1 node per each group = two no

[2022-06-15 15:27] bryantbiggs commented on #567
hey @FernandoMiguel - could you share the value proposition of this addition?

[2022-06-15 15:36] FernandoMiguel commented on #567
@bryantbiggs This means that for the variables in the module with already set default values, the downstream root module wont have to set a default, and can just have a null, and the apply run will work as expect.
Do you feel this adds value, and reduce overhead for practitioners?

[2022-06-15 19:09] muram opened #638 "[FEATURE] Add support for private route53 dns zones deployment via the External DNS Add-On"
#### Is your feature request related to a problem? Please describe
Currently when creating the `external-dns` via the `eks_blueprints_kubernetes_addons` module, the IRSA IAM policy only allows `route53:ChangeResourceRecordSets` and `route53:ListResourceRecordSets` to the public DNS zone. Ref: https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/main/modules/kubernetes-addons/external-dns/da

[2022-06-16 04:36] askulkarni2 commented on #624
@tomerleib as @FernandoMiguel its certainly possible. Out of curiousity, what (sub)modules are you interested in using?

[2022-06-16 12:36] FernandoMiguel commented on #567
the root module is what the practitioners write on their own side.
I was going to show with the examples from this module, https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/main/examples/eks-cluster-with-new-vpc/variables.tf
but that one is pretty empty.

Most modules I see, folks copy the external module variables.tf to their own root module, so they can tweak all and any options they w

[2022-06-16 13:16] bryantbiggs commented on #567
why would users who are utilizing the module copy the `variables.tf`? If you don't copy the `variables.tf` then you achieve the same outcome that you are seeking - the defaults provided by the module will be used unless you opt in to providing a different value for the exposed variables - correct?

[2022-06-16 17:18] spkane commented on #621
I am going to take a stab at this afternoon.

I'll probably try and use a simple manifest apply for the customize-based Argo Application manifests, but it is worth noting that this also exists:

https://github.com/oboukili/terraform-provider-argocd

[2022-06-16 21:01] bryantbiggs commented on #637
hi @szkbury - have you seen this documentation on updating EKS managed node groups https://docs.aws.amazon.com/eks/latest/userguide/managed-node-update-behavior.html ?

[2022-06-17 08:06] tanvp112 opened #642 "CoreDNS addon takes at least 15minutes to complete"
#### Please describe your question here

When provision new cluster using the module, the coredns addon always take 15 minutes to complete, despite that the coredns pods are already running with healthy state. Similar behavior is seen for ebs-csi addon. But kube-proxy and vpc-cni are working fine (soon as the pods passed readiness check, terraform returned these 2 addons are ready).

Is there addi

[2022-06-17 10:03] darrenlin commented on #619
I think attaching the primary cluster security group will solve this issue
https://github.com/terraform-aws-modules/terraform-aws-eks/pull/1952

Is it possible to add this as a variable of EKS Blueprint module?